<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>[:email_title_1:]: [:mail_from:] [:email_title_2:]“: [:site_name:]: [:email_title_3:] [:client_id:]-[:so_no:]</title>
	</head>

	<body>
		<table border=0 cellspacing=0 cellpadding=0 width="100%">
			<tr>
				<td align="left">
					<p><img src="[:image_url:]/images/[:logo_file_name:]" ></p>
				</td>
			</tr>

			<tr>
				<td colspan="2">
					<p>[:dear:] [:forename:],</p>
					<p>[:paragraph_1:]</p>
					<p>&nbsp;</p>
				</td>
			</tr>

			<tr>
				<td colspan="2"><b><font color="#FF6600">[:refund_summary:]</font></b></td>
			</tr>

			<tr>
				<td width="50%" valign=top>
					<b>[:text_order_number:]:</b>
					<p>[:client_id:]-[:order_number:]</p>
					<p>&nbsp;</p>
				</td>
				<td width="50%" colspan=2 valign=top>
					<b>[:text_order_date:]:</b>
					<p>[:order_create_date:]</p>
					<p>&nbsp;</p>
				</td>
			</tr>

			<tr>
				<td>
					<p><b>[:text_refund_amount:]:</b></p>
					<p>[:refund_amount:]</p><br />
				</td>
				<td>
					<p><b>[:text_payment_gateway:]:</b></p>
					<p>[:payment_gateway:]</p><br />
				</td>
			</tr>

			<tr>
				<td colspan="2">
					<p>&nbsp;</p>
					<p>[:best_regards:], </p>
					<p>[:valuebasket_team:]<br />[:site_name:]<br />[:site_url:]</p>
				</td>
			</tr>
		</table>
	</body>
</html>