<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="[:default_url:]/css/style.css">
</head>

<body topmargin="5" leftmargin="5" bgcolor="#FFFFFF">

<table border="0" cellpadding="5" cellspacing="0" width="940px" bgcolor="#FFFFFF" align="center">
	<tr>
		<td>
			<table height="22" border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td align="left"><img border=0 src="[:default_url:]/images/[:logo_file_name:]"></td>
					</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="30px">&nbsp;
		
		</td>
	</tr>
	<tr>
		<td>
			<p>
			Kære [:forename:],<br /><br />
			Tak for din bestilling hos [:site_name:]!<br><br>
			Vi kan nu bekræfte, at betalingen er blevet godkendt, og din bestilling er nu klar til brug.<br><br>
			Bemærk venligst, at dit ordrenummer er <b>[:so_no:]</b>. Du kan altid logge ind på ´Min konto` via forsiden på vores netbutik, når du ønsker det og kontrollere din bestillingsstatus.<br><br>
			For en god ordens skyld er dine login oplysninger følgende:<br><br>
			[:email:]<br>
			[:password:]<br><br>

			</p>
			<p>
			
			<b>Bestillingsoversigt:</b><br /><br />
			<b>Bestillingsnummer:</b><br />
			[:so_no:]<br /><br />
			<b>Købsdato:</b><br />
			[:order_create_date:]<br /><br />
			<b>Betalingsinformation:</b><br />
			[:billing_name:]<br />
			[:billing_address:]<br /><br />
			<b>Leveringsinformation:</b><br />
			[:delivery_name:]<br />
			[:delivery_address:]<br /><br /><br />
			<table width="100%" cellspacing="0" cellpadding="4">
				<tr>
					<td width="40">Antal</td>
					<td>Produkt</td>
					<td width="120">Enhedspris</td>
					<td width="80">Total</td>
				</tr>
				[:so_items:]
				<tr>
					<td colspan="2">&nbsp;</td>
					<td><b>Pris på varerne</b></td>
					<td>[:total:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Forsendelse</b></td>
					<td>[:delivery_charge:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Valuta</b></td>
					<td>[:currency_id:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Samlet Total</b></td>
					<td><b>[:amount:]</b></td>
				</tr>
			</table>
			<br>
			<p>Din bestilling er nu færdig, og vi vil sætte pris på, om du ville bruge et øjeblik, til at besvare et par spørgsmål om dine første oplevelser hos os, så vi kan forbedre vores service, for bedre at kunne opfylde dine behov.</p>
			<p>Alle vore loyale kunder, der deltager i denne undersøgelse, vil være kvalificerede til at deltage i vores månedlige lodtrækning om store præmier.</p>
			<p align="center"><a href="http://vista-survey.com/survey/v2/survey2.dsb?ID=1536253776" target="_blank">Klik her for at starte undersøgelsen.</a></p>
			<table>
			<col width="160px" /><col />
			<tr>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td align="center"><a href="[:default_url:]"><img border=0 src='[:default_url:]/images/skype_email_free_min_offer.gif' alt="free_minutes_offer" /></a><br /><a href="[:default_url:]"><span style="font-size:11px;text-decoration:none;">Klik her for flere informationer.</span></a></td>
				<td><p><span style="color:#2894FF">Din Skype Værdikuponskode: [:voucher_code:]</span></p><p>Hos ChatandVision arbejder vi hele tiden sammen med vores partnere for at få de bedste kundereklamer. Denne måneds tilbud: "Op til 60 Minutters Gratis Kredit fra Skype". <a href="http://Skype.com/voucher">Klik her</a> for at indløse dine gratis opkaldsminutter!</p></td>
			</tr>
			</table>
			<p>
				Endnu engang, tak for din bestilling hos ChatandVision. Vi værdsætter din bestilling og ser frem til, at betjene dig igen i fremtiden. Har du forespørgsler, er du velkommen til at besøge vores F.A.Q side eller sende en E-mail til:<a href="mailto:[:from_email:]">[:from_email:]</a>, for yderligere hjælp.<br /><br />
			</p>
			<p>
			Venlig Hilsen,<br /><br />
			Kara Hensen<br /><br />
			Kunderserviceafdelingen<br /><br />
			[:site_name:] Ltd.<br />
			"Skype's Global Merchant Partner"<br />
			<a href="www.chatandvision.com" target="_cnv">www.chatandvision.com</a>
			</p>
		</td>
	</tr>
</body>
</html>
