<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="[:default_url:]/css/style.css">
</head>

<body topmargin="5" leftmargin="5" bgcolor="#FFFFFF">

<table border="0" cellpadding="5" cellspacing="0" width="940px" bgcolor="#FFFFFF" align="center">
	<tr>
		<td>
			<table height="22" border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td align="left"><img border=0 src="[:default_url:]/images/[:logo_file_name:]"></td>
					</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="30px">&nbsp;
		
		</td>
	</tr>
	<tr>
		<td>
			<p>
			Prezado(a) [:forename:],<br /><br />
			Obrigado por fazer compras com [:site_name:]!<br><br>
			Nós podemos confirmar que o pagamento foi aprovado e seu pedido. já esta disponível para uso.<br><br>
			Anote o número do seu pedido, por favor: <b>[:so_no:]</b>. Para sua comodidade, você poderá entrar na página "Minha Conta" através de nossa loja, a qualquer momento,  a fim de verificar o status do seu pedido.<br><br>
			Para sua conveniência, os seus dados de login são os seguintes:<br><br>
			[:email:]<br>
			[:password:]<br><br>

			</p>
			<p>
			Também para sua referência, por favor, reveja os detalhes de seu pedido abaixo.<br /><br />
			<b>Resumo da Compra:</b><br /><br />
			<b>Pedido n.º:</b><br />
			[:so_no:]<br /><br />
			<b>Data da compra:</b><br />
			[:order_create_date:]<br /><br />
			<b>Informações de cobrança:</b><br />
			[:billing_name:]<br />
			[:billing_address:]<br /><br />
			<b>Informações de entrega:</b><br />
			[:delivery_name:]<br />
			[:delivery_address:]<br /><br /><br />
			<table width="100%" cellspacing="0" cellpadding="4">
				<tr>
					<td width="40">Qtd.</td>
					<td>Produto</td>
					<td width="120">Preço unitário</td>
					<td width="80">Total</td>
				</tr>
				[:so_items:]
				<tr>
					<td colspan="2">&nbsp;</td>
					<td><b>Custo do item</b></td>
					<td>[:total:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Custo de entrega</b></td>
					<td>[:delivery_charge:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Moeda</b></td>
					<td>[:currency_id:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Total geral</b></td>
					<td><b>[:amount:]</b></td>
				</tr>
			</table>
			<br>
			<p>Seu pedido esta completo agora e nós apreciaríamos se você pudesse reservar um tempo para  responder algumas questões sobre suas experiências iniciais conosco, para que possamos melhorar nosso serviço para satisfazer as suas necessidades da melhor forma possível.</p>
			<p>Todos os nossos fiéis clientes  que participaram dessa pesquisa estarão elegíveis para alguns grandes prêmios no nosso  Premio de Loteria Mensal.</p>
			<p align="center"><a href="http://vista-survey.com/survey/v2/survey2.dsb?ID=1536253776" target="_blank">Clique aqui para começar a pesquisa.</a></p>
			<table>
			<col width="160px" /><col />
			<tr>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td align="center"><a href="[:default_url:]"><img border=0 src='[:default_url:]/images/skype_email_free_min_offer.gif' alt="free_minutes_offer" /></a><br /><a href="[:default_url:]"><span style="font-size:11px;text-decoration:none;">Clique aqui para obter mais detalhes.</span></a></td>
				<td><p><span style="color:#2894FF">Código do seu voucher da Skype: [:voucher_code:]</span></p><p>Na ChatandVision, trabalhamos continuamente junto aos nossos parceiros para oferecer as melhores promoções possíveis aos clientes. Oferta do mês: "Até 60 minutos de crédito gratuito da Skype". <a href="http://Skype.com/voucher">Clique aqui</a>para resgatar os seus minutos de chamadas gratuitas!</p></td>
			</tr>
			<tr>
			</tr>
			</table>
			<p>
				Mais uma vez, obrigado por comprar conosco no ChatandVision. Apreciamos sua preferência,  e estamos ansiosos para atendê-lo novamente no futuro. Em caso de dúvidas, por favor, não hesite em visitar a nossa página de perguntas e respostas ou envie um e-mail para <a href="mailto:[:from_email:]">[:from_email:]</a> para maior assistência.<br /><br />
			</p>
			<p>
			Atenciosamente,<br /><br />
			Equipe de atendimento<br /><br />
			[:site_name:] Ltd.<br />
			"Skype's Global Merchant Partner"<br />
			<a href="www.chatandvision.com" target="_cnv">www.chatandvision.com</a>
			</p>
		</td>
	</tr>
		



</body>
</html>
