<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="[:default_url:]/css/style.css">
</head>

<body topmargin="5" leftmargin="5" bgcolor="#FFFFFF">

<table border="0" cellpadding="5" cellspacing="0" width="940px" bgcolor="#FFFFFF" align="center">
	<tr>
		<td>
			<table height="22" border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td align="left"><img border=0 src="[:default_url:]/images/[:logo_file_name:]"></td>
					</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="30px">&nbsp;
		
		</td>
	</tr>
	<tr>
		<td>
			<p>
			Hej [:forename:],<br /><br />
			Tack för att du handlat hos [:site_name:]!<br><br>
			Vi kan nu bekräfta att din betalning mottagits och att din beställning är redo för användning.<br><br>
			Observera att ditt ordernummer är <b>[:so_no:]</b>. För din bekvämlighets skull så kan du också logga in på "Mitt Konto" sidan via vår onlinebutik när som helst för att se statusen på din order.<br><br>
			För din bekvämlighets skull så har vi listat dina logindetaljer nedan:<br><br>
			[:email:]<br>
			[:password:]<br><br>

			</p>
			<p>
			Se också alla detaljer om din order nedan:<br /><br />
			
			<b>Köpsammanställning:</b><br /><br />
			<b>Order Nummer:</b><br />
			[:so_no:]<br /><br />
			<b>Köpdatum:</b><br />
			[:order_create_date:]<br /><br />
			<b>Betalningsinformation:</b><br />
			[:billing_name:]<br />
			[:billing_address:]<br /><br />
			<b>Leveransinformation:</b><br />
			[:delivery_name:]<br />
			[:delivery_address:]<br /><br /><br />
			<table width="100%" cellspacing="0" cellpadding="4">
				<tr>
					<td width="40">Antal</td>
					<td>Produkt</td>
					<td width="120">Pris per Enhet</td>
					<td width="80">Totalt</td>
				</tr>
				[:so_items:]
				<tr>
					<td colspan="2">&nbsp;</td>
					<td><b>Kostnad av Produkter</b></td>
					<td>[:total:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Leveranskostnad</b></td>
					<td>[:delivery_charge:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Valuta</b></td>
					<td>[:currency_id:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Totalsumma</b></td>
					<td><b>[:amount:]</b></td>
				</tr>
			</table>
			<br>
			<p>Din beställning är nu slutförd och vi skulle uppskatta om du kunde ta dig tid att svara på några frågor om hur du upplevt oss. Detta skulle hjälpa oss att utveckla vår tjänst så att den bättre möter dina behov.</p>
			<p>Alla våra lojala kunder som deltar i denna enkät har chansen att vinna fantastiska priser i vår Månatliga Vinstdragning.</p>
			<p align="center"><a href="http://vista-survey.com/survey/v2/survey2.dsb?ID=1536253776" target="_blank">Klicka här för att starta enkäten.</a></p>
			<table>
			<col width="160px" /><col />
			<tr>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td align="center"><a href="[:default_url:]"><img border=0 src='[:default_url:]/images/skype_email_free_min_offer.gif' alt="free_minutes_offer" /></a><br /><a href="[:default_url:]"><span style="font-size:11px;text-decoration:none;">Klicka här för mer information.</span></a></td>
				<td><p><span style="color:#2894FF">Din kupongkod från Skype: [:voucher_code:]</span></p><p>På ChatandVision arbetar vi kontinuerligt med våra partners för bästa möjliga erbjudanden för våra kunder. Den här månadens erbjudande: "Upp till 60 minuters gratis samtalstid från Skype". <a href="http://Skype.com/voucher">Klicka här</a>för att få din gratis samtalstid!</p></td>
			</tr>
			<tr>
			</tr>
			</table>
			<p>
				Än en gång ett stort tack för att du handlat hos oss på ChatandVision. Ditt köp är uppskattat och vi ser fram emot att betjäna dig även i framtiden. Om frågor skulle uppstå så tveka inte att besöka vår F.A.Q sida eller emaila oss på <a href="mailto:[:from_email:]">[:from_email:]</a> för vidare assistans.<br /><br />
			</p>
			<p>
			Med vänliga hälsningar,<br /><br />
			Kundtjänststeamet<br /><br />
			[:site_name:] Ltd.<br />
			"Skype's Global Merchant Partner"<br />
			<a href="www.chatandvision.com" target="_cnv">www.chatandvision.com</a>
			</p>
		</td>
	</tr>
		



</body>
</html>
