<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="[:default_url:]/css/style.css">
</head>

<body topmargin="5" leftmargin="5" bgcolor="#FFFFFF">

<table border="0" cellpadding="5" cellspacing="0" width="940px" bgcolor="#FFFFFF" align="center">
	<tr>
		<td>
			<table height="22" border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td align="left"><img border=0 src="[:default_url:]/images/[:logo_file_name:]"></td>
					</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="30px">&nbsp;
		
		</td>
	</tr>
	<tr>
		<td>
			<p>
			Dear [:forename:],<br /><br />
			Thank you for shopping with [:site_name:]!<br><br>
			We can now confirm that payment has been approved and your order is now available for use.<br><br>
			Please take note that your order number is <b>[:so_no:]</b>. For your convenience you may log into the 'My Account' page via our storefront at any time to check your order details.<br><br>
			For your convenience, your login details are as follows:<br><br>
			[:email:]<br>
			[:password:]<br><br>

			</p>
			<p>
			
			<b>Purchase Summary:</b><br /><br />
			<b>Order No:</b><br />
			[:so_no:]<br /><br />
			<b>Order Date:</b><br />
			[:order_create_date:]<br /><br />
			<b>Billing Information:</b><br />
			[:billing_name:]<br />
			[:billing_address:]<br /><br />
			<b>Delivery Information:</b><br />
			[:delivery_name:]<br />
			[:delivery_address:]<br /><br /><br />
			<table width="100%" cellspacing="0" cellpadding="4">
				<tr>
					<td width="40">Qty</td>
					<td>Product</td>
					<td width="120">Unit Price</td>
					<td width="80">Total</td>
				</tr>
				[:so_items:]
				<tr>
					<td colspan="2">&nbsp;</td>
					<td><b>Cost of Items</b></td>
					<td>[:total:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Delivery</b></td>
					<td>[:delivery_charge:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Currency</b></td>
					<td>[:currency_id:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Grand Total</b></td>
					<td><b>[:amount:]</b></td>
				</tr>
			</table>
			<br>
			<p>
			[:licence_key:]
			</p>
			<p>Your order is now complete, and we would appreciate if you could take a moment to answer a few questions about your initial experiences with us, so that we may improve our service to better meet your needs.</p>
			<p>All our loyal customers who participate in this survey will be eligible for some great prizes in our <b>Monthly Prize Draw.</b></p>
			<p align="center"><a href="http://vista-survey.com/survey/v2/survey2.dsb?ID=1536253776" target="_blank">Click here to start the Survey</a></p>
			<table>
			<col width="160px" /><col />
			<tr>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td align="center"><a href="[:default_url:]"><img border=0 src='[:default_url:]/images/skype_email_free_min_offer.gif' alt="free_minutes_offer" /></a><br /><a href="[:default_url:]"><span style="font-size:11px;text-decoration:none;">Click here for more details.</span></a></td>
				<td><p><span style="color:#2894FF">Your Skype Voucher Code: [:voucher_code:]</span></p><p>At ChatandVision, we work continuously with our partners for the best possible customer promotions. This month's offer: "Up to 60 Minutes Free Credit from Skype". Please <a href="http://Skype.com/voucher">click here</a> to redeem your free calling minutes!</p></td>
			</tr>
			</table>
			<p>
				Once again, thank you for shopping with us here at ChatandVision. Your business is appreciated, and we look forward to serving you again in the future. In the event of any queries, please do not hesitate to visit our F.A.Q page or e-mail us at <a href="mailto:[:from_email:]">[:from_email:]</a> for further assistance.<br /><br />
			</p>
			<p>
			Best regards,<br /><br />
			Cythia Appleby<br /><br />
			Customer Care Officer<br /><br />
			[:site_name:] Ltd.<br />
			"Skype's Global Merchant Partner"<br />
			<a href="www.chatandvision.com" target="_cnv">www.chatandvision.com</a>
			</p>
		</td>
	</tr>
		



</body>
</html>
