<div style="font-size:20px;">ES II</div>
<hr>
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="50">
    <tr>
        <td width="70" height="50" valign="top"><b>Deliver To:</b></td>
        <td width="200" valign="top">[:delivery_name:]<br>[:delivery_address:]</td>
        <td valign="top" align="right"><b>Order No.</b>[:client_id:]-[:so_no:]<br><b>Order Received On:</b> [:order_create_date:]</td>
    </tr>
</table>
<hr>
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="600">
    <tr>
        <td colspan="2" height="280" valign="top" align="center"><br>
            <table border="0" cellpadding="0" width="100%" height="" cellspacing="0">
                <tr>
                    <td height="20" style="padding-left: 5;" bgcolor="#DDDDDD"><b>Item</b></td>
                    <td width="120px" bgcolor="#DDDDDD" align="right" style="padding-right:5;"><b>Qty</b></td>
                </tr>
                [:so_items:]
                <tr>
                    <td colspan="9" bgcolor="#DDDDDD" height="1"><img border="0" width=1></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            [:barcode:]
        </td>
    </tr>
</table>
<p><br style="height:0; line-height:0"></p>