<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#FFFFFF">
	<tr>
		<td align="left" colspan="2">
			<p><img src="/images/logo/digitaldiscount.png"></p>
		</td>
	</tr>

	<tr>
		<td width="50%" valign=top>
			<b>[:lang_order_no:]:</b>
			<p>[:client_id:]-[:so_no:]</p>
			<p>&nbsp;</p>
		</td>

		<td width="50%" valign=top>
			<b>[:lang_order_date:]:</b>
			<p>[:order_create_date:]</p>
			<p>&nbsp;</p>
		</td>
	</tr>

	<tr>
		<td width="50%" valign=top>
			<b>[:lang_ship_to:]:</b>
			<p>[:delivery_name:]</p>
			<p>&nbsp;</p>
			<p>[:delivery_address:]</p>
			<p>&nbsp;</p>
		</td>

		<td width="50%" valign=top>
			<b>[:lang_bill_to:]:</b>
			<p>[:billing_name:]</p>
			<p>&nbsp;</p>
			<p>[:billing_address:]</p>
			<p>&nbsp;</p>
		</td>
	</tr>

	<tr>
		<td colspan="2">
			<table border="1" cellpadding="4" cellspacing="0" width="100%">
				<tr>
					<td colspan=3 valign=top bgcolor="#FFCC00" bordercolor="#666666" height="10px">
						<b>[:lang_order_details:]</b>
					</td>
				</tr>

				<tr>
					<td width=521 colspan=2 valign=top height="10px" bgcolor="#CCCCCC">
						<b>[:lang_description:]</b>
					</td>

					<td width=117 valign=top height="10px" bgcolor="#CCCCCC">
						<b>[:lang_qty:]</b>
					</td>
				</tr>

				[:so_items:]
			</table>
		</td>
	</tr>

	<tr>
		<td colspan="2">
			<p>&nbsp;</p>
			<p><b><font color="#FF6600">[:lang_thank_you:]</font></b></p>
			<p>&nbsp;</p>
			<p><b>[:lang_our_return_policy:]:</b></p>
			<!--<p>[:lang_return_policy_part1:] <a href="mailto:[:return_email:]">[:return_email:]</a> [:lang_return_policy_part2:]</p>-->
			<p>[:lang_return_policy_part1:][:lang_return_policy_part2:]</p>
			<!--<p>[:lang_need_assistance:] <a href="mailto:[:cs_support_email:]">[:cs_support_email:]</a></p>-->
			<p>[:lang_need_assistance:]</p>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			[:barcode:]
		</td>
	</tr>
</table>
<p class="pb"></p>
