Dear [:forename:],<br><br>
Thank you for shopping with ValueBasket.com.<br><br>
This email is to confirm a refund has been completed, with the funds due to appear in your account within the next couple of days. <br><br>
Kindly review the details of your refund below:<br><br> 
[:refund_txt:]<br><br>
Should any further assistance be required, please do not hesitate to contact our Customer Care Team at support@valuebasket.com.<br><br>
Many thanks again for choosing ValueBasket.com.<br><br>
Best Regards,<br>
ValueBasket Customer Care Team<br><br>
www.valuebasket.com