<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>[:email_title_1:] [:email_title_2:] [:site_name:] [:email_title_3:] [:client_id:]-[:so_no:]</title>
		<style type="text/css">
		body {
				font: normal 10pt Verdana, Arial, sans-serif;
			}
		</style>
	</head>

	<body>
		<table border="1" cellspacing="0" cellpadding="0" width="100%">
			<tr style="font-size:9pt;">
				<td align="center">
					<br><br>
					<p><b>[:pdf_proforma_invoice:]</b></p>
					<p><img src="[:image_url:]/images/[:logo_file_name:]" ></p>
					<p><b>[:pdf_valuebasket_name:]</b></p>
					<p><b>[:pdf_valuebasket_address:]</b></p>
					<p><a href="http://[:pdf_valuebasket_url:]">[:pdf_valuebasket_url:]</a></p>
					<br><br>
				</td>
			</tr >
			<tr>
				<td style="text-align:center;font-size:9pt;">
					<table border="0" cellspacing="0" cellpadding="5">
						<col width="15%"><col width="40%"><col width="15%"><col width="30%">
						<tr>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td style="text-align:right;"><b>[:pdf_text_client_name:]</b></td>
							<td style="text-align:left;">[:forename:] [:surname:]</td>
							<td style="text-align:right;"><b>[:pdf_text_order_number:]</b></td>
							<td style="text-align:left;">[:client_id:]-[:so_no:]</td>
						</tr>
						<tr>
							<td style="text-align:right;"><b>[:pdf_text_email:]</b></td>
							<td style="text-align:left;">[:email:]</td>
							<td style="text-align:right;"><b>[:pdf_text_date_proforma_invoice:]</b></td>
							<td style="text-align:left;">[:order_create_date:]</td>
						</tr>
						<tr>
							<td style="vertical-align:top;text-align:right;"><b>[:pdf_text_ship_to:]</b></td>
							<td style="vertical-align:top;text-align:left;">[:forename:] [:surname:] [:client_id_no:]<br>[:delivery_address:]</td>
							<td style="text-align:right;"><b>[:pdf_text_client_tel:]</b></td>
							<td style="text-align:left;">[:tel:]</td>
						</tr>
						<tr>
							<td style="text-align:right;"><b>[:pdf_payment_method:]</b></td>
							<td style="text-align:left;">[:payment_gateway:]</td>
							<td style="text-align:right;"><b>[:pdf_coupon_code_used:]</b></td>
							<td style="text-align:left;">[:promotion_code:]</td>
						</tr>
						
						<tr>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td align="center" style="font-size:9pt;">
					<table border="0" cellpadding="4" cellspacing="0">
						<tr>
							<td colspan="4"></td>
						</tr>
					</table>
					<table border="1" cellpadding="4" cellspacing="0">
						<tr>
							<td colspan=4 valign="top" bgcolor="#FFCC00" bordercolor="#666666" height="10pt">
								<b>[:pdf_text_order_details:]</b>
							</td>
						</tr>

						<tr>
							<td width="70%" valign="top" height="10pt" bgcolor="#CCCCCC">
								<b>[:pdf_text_description:]</b>
							</td>
							<td width="10%" valign="top" height="10pt" bgcolor="#CCCCCC">
								<b>[:pdf_text_quantity:]</b>
							</td >
							<td width="10%" valign="top" height="10pt" bgcolor="#CCCCCC">
								<b>[:pdf_text_unit_price:]</b>
							</td >
							<td width="10%" valign="top" height="10pt" bgcolor="#CCCCCC">
								<b>[:pdf_text_total:]</b>
							</td >
						</tr>

						[:so_items:]

						<tr>
							<td rowspan="5" valign="top">
								<b>&nbsp;</b>
							</td>
							<td colspan="2" valign="top" bgcolor="#CCCCCC">
								<b>[:pdf_text_cost_of_items:]</b>
							</td>
							<td valign="top">
								<b>[:total:]</b>
							</td>
						</tr>

						<tr>
							<td colspan="2" valign="top" bgcolor="#CCCCCC">
								<b>[:pdf_text_delivery:]</b>
							</td>
							<td valign="top">
								<b>[:delivery_charge:]</b>
							</td>
						</tr>

						<tr>
							<td colspan="2" valign="top" bgcolor="#CCCCCC">
								<b>[:pdf_text_processing_fee:]</b>
							</td>
							<td valign="top">
								<b>[:processing_fee:]</b>
							</td>
						</tr>
						
						<tr>
							<td colspan="2" valign="top" bgcolor="#CCCCCC">
								<b>[:pdf_text_currency:]</b>
							</td>
							<td valign="top">
								<b>[:currency_id:]</b>
							</td>
						</tr>

						<tr>
							<td colspan="2" valign="top" bgcolor="#CCCCCC">
								<b>[:pdf_text_grand_total:]</b>
							</td>
							<td valign="top">
								<b>[:amount:]</b>
							</td>
						</tr>
					</table>
					<table border="0" cellpadding="4" cellspacing="5">
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>
								<b><u>[:pdf_sale_conditions:]</u></b><br>
								<p align="left">[:pdf_content_1:]</p><br>
								<p align="left">[:pdf_content_2_1:] <b><font color="red">[:client_id:]-[:so_no:]</font></b> [:pdf_content_2_2:]</p>
								<p align="left">[:pdf_content_3:]</p>
								<p align="center">
									[:pdf_bank_name:]<br>
									[:pdf_bank_beneficiary:]<br>
									[:pdf_bank_comments:] <b><font color="red">[:client_id:]-[:so_no:]</font></b><br>
									[:pdf_bank_account:]<br>
									[:pdf_bank_swift:] 
								</p>

								<p>[:pdf_content_4:] <a href="http://[:site_url:]/[:lang_country_pair:]/contact#enquiry_box_anchor" target="_contact">[:pdf_content_4_1:]</a>.</p><br><br>

								<p align="center">
									<b><i>[:pdf_content_5:]<br></i></b>
								</p>

								<p align="left">
									<b><u>[:pdf_content_6:]<br><br></u></b>
									[:pdf_content_7:]<br>
								</p>
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>


	</body>

</html>
