<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Shop at Valuebasket</title>
<link rel="stylesheet" type="text/css" href="http://ebaypowerhouse.com/valuebasket_sg/css/list.css"/>
<link rel="stylesheet" type="text/css" href="http://ebaypowerhouse.com/valuebasket_sg/css/text.css"/>
<script type="text/javascript">
function addScript(f){
var d =document.createElement("script");
d.type="text/javascript";
d.src=f;
document.getElementsByTagName('head')[0].appendChild(d);
}
window.onload = function() {addScript('http://ebaypowerhouse.com/valuebasket_sg/js/main_listing.js');}
</script>
</head>
<body>
<div id="wrap">
<div id="headWrap"></div>
<div id="leftWrap"><div class="ctrlHg"></div></div>
<div id="rightWrap" style="width:901px;">
<div class="boxImg"><table cellpadding="0" cellspacing="0" border="0" class="boxBigImg"><tr><td><div><img id="mpic" src="[:image_url:]" width="450" /></div></td></tr></table><div class="boxSmallImg"><img src="[:image_url:]"class="thumbf" onmouseover="chg_img(this.src);"/><div class="clear"></div></div></div><div class="boxContent"><h1>[:title:]</h1><br><h1><font color="#000000" size="3"><b>* FREE Shipping to Singapore Island Wide *</b></font></h1><br><b>Overview</b><br><br><p>[:description:]<br><br><b>Specification</b><br><br>[:specifications:]<br><br><b>In the box</b><br><br><p>[:contents:]</p></div>
<div class="clear"></div>
<div id="tabs"></div>
<div id="proBox1"></div>
</div>
<div class="clear"></div>
<div id="footWrap"></div>
</div>
</body>
</html>