/* Default style */
#sitenav
{
color:#111;
font-family:Arial,Helvetica,sans-serif;
font-size:8pt;
position:relative;
z-index:21;
/*min-height:31px;*/
min-height:30px;
}

#sitenav a
{
text-decoration:none;
}

#sitenav ul,#sitenav ul li
{
list-style:none;
margin:0;
padding:0;
text-align:left;
}

#sitenav ul.nav-container h1 a, #sitenav ul.nav-container h1 a:link, #sitenav ul.nav-container h1 a:visited, #sitenav ul.nav-container h1 a:hover, #sitenav ul.nav-container h1 a:active
{
border-right:none;
display:block;
height:27px;
font-size:8pt;
/*line-height: 21px;*/
padding-left:4px;
color:#000000;
font-weight:bold;
width:auto;
padding-left: 8px;
/*
border:solid 2px #FFFFFF;
border-width:0px 0px 2px 0px;
*/
}
#sitenav ul.nav-container li.nav div.home a
{
	border:none;
}

#sitenav ul.nav-container li.nav:hover a.cat, #sitenav ul.nav-container li.nav a.cat:hover
{
background: url('/images/home_tab.gif');
/*border:solid 2px #FF7000;
border-width:0px 0px 2px 0px;*/
color:#000000;
}

#sitenav .seperator
{
border: 0px;
width: 8px;
height:27px;
position: absolute;
}

#sitenav ul.nav-container #n0:hover a.cat, #sitenav ul.nav-container #n0 a.cat:hover
{
border:0px;
}

#sitenav ul.nav-container h1 a span
{
display:table-cell!important;
display:inline;
vertical-align:middle;
height:27px;
line-height: 12px;
}

#sitenav ul.nav-container li:hover a
{
color:#000000;
}

#sitenav .nav ul a,#sitenav ul .nav ul a:link,#sitenav .nav ul a:visited
{
color:#000000;
text-align:left!important;
text-decoration:none;
}

#sitenav .nav a:hover, #sitenav .nav a:active
{
color:#000000!important;
}

#sitenav .nav .menu ul
{
background:transparent;
height:auto;
/*padding-bottom:10px;*/
padding-left:7px;
}

#sitenav .nav .menu ul li
{
border:none;
}

#sitenav .nav .menu_links ul li
{
font-weight:normal;
}

#sitenav .nav .menu ul li,#sitenav .nav .menu ul li a,#sitenav ul.nav-container h3
{
background:transparent;
font-size:8pt;
padding:2px 0 0 0;
line-height:[:link_height:]px;
width:auto;
height:auto;
}

#sitenav .nav .menu li a
{
background-image:none;
}

#sitenav .menu a:link,#sitenav .menu a:visited
{
color:#000000;
display:block;
text-decoration:none;
text-indent:0;
}

#sitenav .nav .menu ul li
{
margin-top:0px;
padding-bottom:0;
}

#sitenav .nav .menu ul li a
{
padding-bottom:3px;
width:[:a_width:]px;
}

#sitenav .nav .menu ul li ul li
{
margin-top:-3px;
padding-bottom:0;
}

#sitenav .see
{
	font-style: italic;
}

#sitenav .nav .menu ul li a:hover
{
	background-color:#C4E1FF!important; /* modified 25-01-10*/
}

#sitenav div,#sitenav ul,#sitenav ol,#sitenav li,#sitenav h1,#sitenav h2,#sitenav h3
{
margin:0;
padding:0;
}

#sitenav ul,#sitenav ol
{
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}

#sitenav h1,#sitenav h2,#sitenav h3,#sitenav h4,#sitenav h5,#sitenav h6
{
font-size:8pt;
}

#sitenav .nav:hover .menu
{
padding:0 6px 0px 0;
/*top:31px;*/
top:27px;
left:0px;
z-index:14;
}

#sitenav .nav iframe
{
position:absolute;
width:[:menulinks_width:]px;
top:-9999px;
left:-9999px;
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

#sitenav ul.nav-container h3
{
padding-left:0;
}

/*--------------- Customer style START ---------------*/

/* Menu bar width and style */
#sitenav ul.nav-container
{
background:transparent;
float:left;
/*height:30px;*/
left:0;
margin:0;
position:relative;
z-index:11;
}
/* Column width and style*/
#sitenav ul.nav-container li.nav
{
display:inline;
float:left;
clear:none;
height:27px;
/*cursor:pointer;*/
/*width:[:cat_width:]px;*/
/*padding:0;*/
/*margin:0px 1px 0px 1px;*/
background: url('/images/home_tab.gif');
}

#sitenav ul.nav-container li.nav:hover
{
background-position:100% 0;
color:#c00;
position:relative;
}

/*
#sitenav ul.nav-container #n0
{
width:[:n0_width:]px;
}*/

[:adj_width:]

#sitenav .cat_header, #sitenav .cat_header2
{
padding: 6px 0px 0px 17px;
height:[:header_height:]px;
font-size:8pt;
font-weight:bold;
color: #CC0000;
}

/* Menu and menu links total width and style */
#sitenav .nav .menu_links
{
/*Modified 25-01-10*/
/*background:#FFFFCC;*/
float:left;
clear:left;
/*padding-top:6px;*/
/*border:solid 2px #FFCC33;*/
border:solid 2px #46A3FF;
width:[:menulinks_width:]px;
}

#sitenav .nav:hover .menu .col1 *, #sitenav .nav:hover .menu .col2 *
{
background:#FFFFCC;
	
}

#sitenav .nav:hover .menu .col3, #sitenav .col3, #sitenav .cat_header2
{
background:#FDFFFF;
  	/* for IE */
	filter:alpha(opacity=90);
  	/* CSS3 standard */
  	opacity:0.9;
}

#sitenav .col1, #sitenav .col2, #sitenav .col3
{
width: 144px;
}

#sitenav .nav .menu
{
padding:0 0 0 1px;
position:absolute;
white-space:normal!important;
width:[:menulinks_width:]px;
z-index:18;
top:-9999px;
left:-9999px;
}

/* Menu items length and the style */
#sitenav .nav .menu ul
{
/*background:#FFFFCC;*/
float:left;
clear:none;
text-align:left;
padding:0px 0px 12px 7px;

  /* CSS3 standard */
  	opacity:1;

}

#sitenav .nav .menu ul li a
{
	/*padding-left:10px;*/
}
/*Invisible the menu items*/
#sitenav ul li ul
{
	display:none;
}


/*Visible the menu items when hover*/
#sitenav ul li:hover ul {
	display:block;
}

#sitenav h1 *
{
color:white;
font-size:10pt;
font-weight:bold;
}

#sitenav ul.nav-container li:hover span, #sitenav ul.nav-container h1 a:hover span
{
color: #FFFFFF!important;
}

/*Specify column position and width when hover */
[:n_adj_str:]
/*--------------- Customer style END ---------------*/
