<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="[:default_url:]/css/style.css">
</head>

<body topmargin="5" leftmargin="5" bgcolor="#FFFFFF">

<table border="0" cellpadding="5" cellspacing="0" width="940px" bgcolor="#FFFFFF" align="center">
	<tr>
		<td>
			<table height="22" border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td align="left"><img border=0 src="[:image_url:]/images/[:logo_file_name:]"></td>
					</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="30px">&nbsp;
		
		</td>
	</tr>
	<tr>
		<td>
			<p>
			[:dear:] [:forename:],<br /><br />
			[:thank_you_1:] [:site_name:]!<br><br>
			[:thank_you_2:]<br><br>
			[:thank_you_3:]<br><br>
			[:thank_you_4:]<br><br>
			[:thank_you_5:]<br><br>
			[:email:]<br>
			[:password:]<br><br>
			</p>
			<p>
			[:order_summary:]<br><br>
			<b>[:purchase_summary:]:</b><br /><br />
			<b>[:order_number:]:</b><br />
			[:so_no:]<br /><br />
			<b>[:order_date:]:</b><br />
			[:order_create_date:]<br /><br />
			<b>[:billing_info:]:</b><br />
			[:billing_name:]<br />
			[:billing_address:]<br /><br />
			<b>[:delivery_info:]:</b><br />
			[:delivery_name:]<br />
			[:delivery_address:]<br /><br /><br />
			<table width="100%" cellspacing="0" cellpadding="4">
				<tr>
					<td width="40">[:text_quantity:]</td>
					<td>[:text_product:]</td>
					<td width="120">[:text_unit_price:]</td>
					<td width="80">[:text_total:]</td>
				</tr>
				[:so_items:]
				<tr>
					<td colspan="2">&nbsp;</td>
					<td><b>[:text_cost_of_items:]</b></td>
					<td>[:total:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>[:text_delivery:]</b></td>
					<td>[:delivery_charge:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>[:text_currency:]</b></td>
					<td>[:currency_id:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>[:text_grand_total:]</b></td>
					<td><b>[:amount:]</b></td>
				</tr>
			</table>
			<br>
			<p>
				[:closing_1:] <a href="http://www.valuebasket.com/display/ws_view?page=ws_contact" target="_contact">http://www.valuebasket.com/display/ws_view?page=ws_contact</a> [:closing_2:].<br /><br />
			</p>
			<p>
			[:best_regards:]<br /><br />
			Cythia Appleby<br /><br />
			[:customer_care_officer:]<br /><br />
			[:site_name:] Ltd.<br />
			<a href="www.valuebasket.com" target="_cnv">www.valuebasket.com</a>
			</p>
		</td>
	</tr>
		



</body>
</html>
