<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body topmargin="0" leftmargin="0">
<style>
<!--
A:link {text-decoration: none; color: #FF6600}
A:visited {text-decoration: none; color: #FF6600}
A:active {text-decoration: none; color: #FF6600}
A:hover {text-decoration: none; color: #000000}
b {font-weight: bold}\nbody,p,div,span,th,td{font-family:arial,sans-serif;font-size:12px;color:#000000}
-->
</style>
<div align=center><img border=0 src='http://www.purelygadgets.co.uk/images/mainlogo3.gif'></div><br><br>Dear [:buyername:],<br><br>
Thank you for placing an order with Purelygadgets.co.uk!<br><br>
We would like to confirm that we have received your order and will process it shortly. Your order number is <b>[:amazon_order_no:]</b>.<br><br> As per Amazon's policy your order will be dispatched within 1-2 working days and delivered within 2-5 working days. Please note that in most cases our delivery time is shorter than stated so that our customers can enjoy their products at the earliest.<br><br>
As soon as your order has been dispatched, our Customer Service Executive will monitor the progress and keep you updated at all times. If you have any questions about your order, please feel free to email me at <a href="mailto:mandy@purelygadgets.co.uk"><b>mandy@purelygadgets.co.uk</b></a>.<br><br>
Once again, we would like to thank you for your order and we hope to see you again soon.<br><br>
Many thanks,
<br><br>
Mandy Linsworth<br>
<i>Customer Service Executive
<br>PurelyGadgets.co.uk
<br><a href='http://www.purelygadgets.co.uk'>www.purelygadgets.co.uk</a></i>
<br>Co: 05169769
<br>VAT: 843 6590 07<br><br>
</body>
</html>