<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>[:email_title_1:] [:email_title_2:] [:site_name:] [:email_title_3:]! – [:client_id:]-[:so_no:]</title>
	</head>

	<body>
		<table border=0 cellspacing=0 cellpadding=0 width="100%">
			<tr>
				<td colspan="2">
					<p>[:hi:] [:forename:],</p>
					<p>
						[:thank_you_2:] ([:so_no:]) [:thank_you_3:]<br /><br />
						[:thank_you_4:]<br />
					</p>
				</td>
			</tr>

			<tr><td colspan="2"><b>[:order_summary:]:</b></td></tr>

			<tr><td colspan="2">
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				[:so_items_desc:]
				</table>
			</td></tr>
			
			<tr><td colspan="2">&nbsp;</td></tr>
			
			<tr>
				<td colspan="2" valign=top>
					<p><b>[:ship_to:]:</b></p>
					<p>[:delivery_name:]</p>
					<p>[:delivery_address:]</p>
				</td>
			</tr>

			<tr>
				<td colspan="2" valign=top>
					<p><b>[:delivery_method:]:</b> [:courier_id:]</p>
					<p><b>[:tracking_number:]:</b> [:tracking_id:]</p>
				</td>
			</tr>

			<tr>
				<td colspan="2">
					<p>[:content_1:] </p> 
					<p>&nbsp; </p>
					<p>[:best_regards:], </p>
					<p>
						Jenny Leung<br />
						[:customer_care_specialist:]<br />
						<a href="[:site_url:]" target="_vb"><font color="#FF6600">[:site_url:]</font></a>
					</p>
				</td>
			</tr>
		</table>
	</body>
</html>