<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body topmargin="0" leftmargin="0">
<style>
<!--
A:link {text-decoration: none; color: #FF6600}
A:visited {text-decoration: none; color: #FF6600}
A:active {text-decoration: none; color: #FF6600}
A:hover {text-decoration: none; color: #000000}
b {font-weight: bold}\nbody,p,div,span,th,td{font-family:arial,sans-serif;font-size:12px;color:#000000}
-->
</style>
<div align=center><img border=0 src='http://www.purelygadgets.co.uk/images/mainlogo3.gif'></div><br><br>Dear [:buyername:],<br><br>
Thank you for placing an order with Purelygadgets.co.uk!<br><br>
I have been monitoring the progress of your order ([:amazon_order_no:])and am pleased to inform you that it has been posted today. Therefore, you should receive the order shortly.<br><br>
It would be much appreciated if you could let us know once you receive your order by emailing me at <a href="mailto:mandy@purelygadgets.co.uk">mandy@purelygadgets.co.uk</a>.<br><br>
Please feel free to contact me with any queries you might have and I will be happy to assist you.<br><br>
Assuring you of our best services at all times.<br><br>

Mandy Linsworth<br>
<i>Customer Service Executive
<br>PurelyGadgets.co.uk
<br><a href='http://www.purelygadgets.co.uk'>www.purelygadgets.co.uk</a></i>
<br>Co: 05169769
<br>VAT: 843 6590 07<br><br>
</body>
</html>