<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body topmargin="0" leftmargin="0">
<style>
<!--
A:link {text-decoration: none; color: #FF6600}
A:visited {text-decoration: none; color: #FF6600}
A:active {text-decoration: none; color: #FF6600}
A:hover {text-decoration: none; color: #000000}
b {font-weight: bold}\nbody,p,div,span,th,td{font-family:calibri,arial;font-size:18px;color:#000000}
-->
</style>
<div align=center><a href="http://www.valuebasket.com/"><img border=0 src='http://www.valuebasket.com/images/value_basket_logo.png' alt="valuebasket.com"></a></div><br><br>
<p style="font: 12pt Times, Cambria, serif;color:#000000;">
Dear [:buyer:],<br><br>
We'd like to thank you again for placing your order with ValueBasket!<br><br>
Now that your order has been dispatched, you can look forward to receiving it within the next two working days. To ensure our customers are best satisfied with our service, we will be delighted to know in your reply that your purchase has arrived safely, and that everything is in order.<br><br>
Of course, if you have any other queries regarding this or even future purchases, please feel free to contact me at <a href="calista.smith@valuebasket.com">calista.smith@valuebasket.com</a>, and I will do all I can to assist.<br><br>
Once again, many thanks for using our service and we hope to see you again in the future.<br><br>

Faithfully Yours,<br>
Calista Smith<br>
<i>Customer Services<br>
Email: <a href="calista.smith@valuebasket.com">calista.smith@valuebasket.com</a><br>
</body>
</html>