<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="[:default_url:]/css/style.css">
</head>

<body topmargin="5" leftmargin="5" bgcolor="#FFFFFF">

<table border="0" cellpadding="5" cellspacing="0" width="940px" bgcolor="#FFFFFF" align="center">
	<tr>
		<td>
			<table height="22" border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td align="left"><img border=0 src="[:default_url:]/images/[:logo_file_name:]"></td>
					</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="30px">&nbsp;</td>
	</tr>
	<tr>
		<td>
			<p>
			SO - [:so_no:]<br /><br />
			Client Information:<br><br>
			Customer Name:[:forename:]<br>
			Tel:[:tel:]<br>
			Delivery Address:[:del_address:]<br>
			Delivery City:[:del_city:]<br>
			Delivery Country:[:del_country:]<br>
			Order reason:[:order_reason:]<br>
			Order Note:[:order_notes:]<br>
			<p>
		</td>
	</tr>
</body>
</html>
