<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="[:default_url:]/css/style.css">
</head>

<body topmargin="5" leftmargin="5" bgcolor="#FFFFFF">

<table border="0" cellpadding="5" cellspacing="0" width="940px" bgcolor="#FFFFFF" align="center">
	<tr>
		<td>
			<table height="22" border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td align="left"><img border=0 src="[:default_url:]/images/[:logo_file_name:]"></td>
					</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="30px">&nbsp;
		
		</td>
	</tr>
	<tr>
		<td>
			<p>
			Уважаемый (-ая) [:forename:],<br /><br />
			Спасибо за ваш заказ в [:site_name:]<br><br>
			Настоящим мы подтверждаем, что оплата была подтверждена, и теперь ваш заказ может быть обработан.<br><br>
			Ваш номер заказ – <b>[:so_no:]</b>. Вы можете ожидать доставки в течение [:delivery_days:] рабочих дней, хотя мы приложим все усилия для того, чтобы заказ был доставлен вам раньше. Для вашего удобства вы можете войти на страницу «Мой аккаунт» на нашем сайте, чтобы проверить статус вашего заказа в любое время.<br><br>
			Для Вашего удобства, ваш регистрационные данные следующие:<br><br>
			[:email:]<br>
			[:password:]<br><br>

			</p>
			<p>
			Кроме того, для справки, пожалуйста, проверьте детали вашего заказа ниже.<br><br>
			
			<b>Информация о заказе:</b><br /><br />
			<b>Номер заказа:</b><br />
			[:so_no:]<br /><br />
			<b>Дата покупки:</b><br />
			[:order_create_date:]<br /><br />
			<b>Платёжная информация:</b><br />
			[:billing_name:]<br />
			[:billing_address:]<br /><br />
			<b>Информация о доставке:</b><br />
			[:delivery_name:]<br />
			[:delivery_address:]<br /><br /><br />
			<table width="100%" cellspacing="0" cellpadding="4">
				<tr>
					<td width="40">Кол-во</td>
					<td>Товар</td>
					<td width="120">Цена за единицу</td>
					<td width="80">Итого</td>
				</tr>
				[:so_items:]
				<tr>
					<td colspan="2">&nbsp;</td>
					<td><b>Стоимость товаров</b></td>
					<td>[:total:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Стоимость доставки</b></td>
					<td>[:delivery_charge:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Валюта</b></td>
					<td>[:currency_id:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Итоговая сумма</b></td>
					<td><b>[:amount:]</b></td>
				</tr>
			</table>
			<br>
			<p>
			Как только ваш заказ будет отправлен, мы вышлем вам подтверждение отправки на ваш регистрационный email.<br /><br />
			</p>
			<table>
			<col width="160px" /><col />
			<tr>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td align="center"><a href="[:default_url:]"><img border=0 src='[:default_url:]/images/skype_email_free_min_offer.gif' alt="free_minutes_offer" /></a><br /><a href="[:default_url:]"><span style="font-size:11px;text-decoration:none;">Кликните здесь, чтобы узнать об акции более подробно.</span></a></td>
				<td><p><span style="color:#2894FF">Код Вашего ваучера, предоставленного компанией Skype: [:voucher_code:]</span></p><p>Компания ChatandVision постоянно сотрудничает со своими партнёрами, предлагая лучшие клиентские программы. Предложение этого месяца – «До 60 бесплатных минут от Skype». Чтобы получить свои бесплатные минуты, пройдите, пожалуйста, <a href="http://Skype.com/voucher">по этой ссылке</a>!</p></td>
			</tr>
			<tr>
			</tr>
			</table>
			<p>
				Еще раз благодарим вас за ваш заказ в магазине ChatandVision. Мы ценим ваш выбор нашего магазина и будем рады обслужить вас в ближайшем будущем.  В случае возникновения каких-либо вопросов, пожалуйста, посетите нашу страницу часто задаваемых вопросов или свяжитесь нами по email <a href="mailto:[:from_email:]">[:from_email:]</a>.<br /><br />
			</p>
			<p>
			С уважением,<br /><br />
			Служба поддержки клиентов<br /><br />
			[:site_name:] Ltd.<br />
			"Skype's Global Merchant Partner"<br />
			<a href="www.chatandvision.com" target="_cnv">www.chatandvision.com</a>
			</p>
		</td>
	</tr>
		



</body>
</html>
