<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="[:default_url:]/css/style.css">
</head>

<body topmargin="5" leftmargin="5" bgcolor="#FFFFFF">

<table border="0" cellpadding="5" cellspacing="0" width="940px" bgcolor="#FFFFFF" align="center">
	<tr>
		<td>
			<table height="22" border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td align="left"><img border=0 src="[:default_url:]/images/[:logo_file_name:]"></td>
					</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="30px">&nbsp;
		
		</td>
	</tr>
	<tr>
		<td>
			<p>
			Szanowny [:forename:],<br /><br />
			Raz jeszcze dziękujemy za zakupy w [:site_name:]!<br><br>
			Potwierdzamy przyjęcie dokonanej przez Państwa płatności i rozpoczęcie realizacji zamówienia.<br><br>
			Numer zamówienia to <b>[:so_no:]</b>.  Zakupiony produkt powinien zostać dostarczony w ciągu [:delivery_days:] dni roboczych, choć dołożymy starań, by nastąpiło to wcześniej. Status realizacji zamówienia mogą Państwo sprawdzić w każdej chwili, logując się do swojego Konta ze strony głównej naszego sklepu.<br><br>
			Dla Państwa wygody przypominamy login i hasło: <br><br>
			[:email:]<br>
			[:password:]<br><br>
			
			Prosimy również o zapoznanie się z podanymi poniżej szczegółami zamówienia:<br><br>
			</p>
			
			<b>Podsumowanie zamówienia:</b><br /><br />
			<b>Zamówienie Nr:</b><br />
			[:so_no:]<br /><br />
			<b>Data zakupu:</b><br />
			[:order_create_date:]<br /><br />
			<b>Adres fakturowania:</b><br />
			[:billing_name:]<br />
			[:billing_address:]<br /><br />
			<b>Adres dostawy:</b><br />
			[:delivery_name:]<br />
			[:delivery_address:]<br /><br /><br />
			<table width="100%" cellspacing="0" cellpadding="4">
				<tr>
					<td width="40">Ilość</td>
					<td>Produkt</td>
					<td width="120">Koszt jednostkowy</td>
					<td width="80">Ogółem</td>
				</tr>
				[:so_items:]
				<tr>
					<td colspan="2">&nbsp;</td>
					<td><b>Koszt pozycji</b></td>
					<td>[:total:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Koszt wysyłki</b></td>
					<td>[:delivery_charge:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Waluta</b></td>
					<td>[:currency_id:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Suma całkowita</b></td>
					<td><b>[:amount:]</b></td>
				</tr>
			</table>
			<br>
			<p>
			W momencie wysłania zamówionego produktu, prześlemy na podany przez Państwa przy rejestracji adres e-mail stosowne Potwierdzenie Wysyłki.<br /><br />
			</p>
			<table>
			<col width="160px" /><col />
			<tr>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td align="center"><a href="[:default_url:]"><img border=0 src='[:default_url:]/images/skype_email_free_min_offer.gif' alt="free_minutes_offer" /></a><br /><a href="[:default_url:]"><span style="font-size:11px;text-decoration:none;">Kliknij tutaj aby uzyskać więcej informacji.</span></a></td>
				<td><p><span style="color:#2894FF">Twój kod kuponu Skype: [:voucher_code:]</span></p><p>W ChatandVision nieustannie pracujemy wraz z naszymi partnerami nad najlepszymi promocjami dla klientów. Oferta tego miesiąca: "Do 60 darmowych minut z Skype". Aby zrealizować darmowe minuty rozmów proszę <a href="http://Skype.com/voucher">kliknij tutaj</a></p></td>
			</tr>
			</table>
			<p>
			Raz jeszcze dziękujemy za zakupy w ChatandVision. Bardzo cenimy Państwa jako klientów i mamy nadzieję, że skorzystają Państwo z naszych usług ponownie. W razie pytań i wątpliwości, prosimy o odwiedzenie działu Często Zadawanych Pytań (FAQ) lub e-mail na adres <a href="mailto:[:from_email:]">[:from_email:]</a>.<br /><br />
			</p>
			<p>
			Z poważaniem,<br /><br />
			Helena Symanski<br /><br />
			Biuro Obsługi Klienta<br /><br />
			[:site_name:] Ltd.<br />
			"Skype's Global Merchant Partner"<br />
			<a href="www.chatandvision.com" target="_cnv">www.chatandvision.com</a>
			</p>
		</td>
	</tr>
		



</body>
</html>
