<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="[:default_url:]/css/style.css">
</head>

<body topmargin="5" leftmargin="5" bgcolor="#FFFFFF">

<table border="0" cellpadding="5" cellspacing="0" width="940px" bgcolor="#FFFFFF" align="center">
	<tr>
		<td>
			<table height="22" border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td align="left"><img border=0 src="[:default_url:]/images/[:logo_file_name:]"></td>
					</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="30px">&nbsp;
		
		</td>
	</tr>
	<tr>
		<td>
			<p>
			Sayın [:forename:],<br /><br />
			[:site_name:] adresinden alışveriş yaptığınız için teşekkür ederiz.<br><br>
			Bu durumda ödemenin kabul edildiğini ve siparişinizin işlenebileceğini onaylayabiliriz.<br><br>
			Sipariş numaranız <b>[:so_no:]</b>dır ve daha kısa sürede size ulaşması için elimizden geleni yapacak olmamıza rağmen, ürününüzün [:delivery_days:] iş günü içinde teslim edilmesi beklenmektedir. Size kolaylık sağlaması açısından, siparişinizi kontrol etmek için herhangi bir anda mağazamız yoluyla "Hesabım" sayfasına girebilirsiniz.<br><br>
			Kolaylık sağlaması açısından, oturum açma bilgileriniz aşağıdaki gibidir:<br><br>
			[:email:]<br>
			[:password:]<br><br>

			</p>
			<p>
			
			<b>Satın Alım Özeti:</b><br /><br />
			<b>Sipariş No:</b><br />
			[:so_no:]<br /><br />
			<b>Satın alım Tarihi: </b><br />
			[:order_create_date:]<br /><br />
			<b>Fatura Bilgileri:</b><br />
			[:billing_name:]<br />
			[:billing_address:]<br /><br />
			<b>Teslimat Bilgileri:</b><br />
			[:delivery_name:]<br />
			[:delivery_address:]<br /><br /><br />
			<table width="100%" cellspacing="0" cellpadding="4">
				<tr>
					<td width="40">Adet</td>
					<td>Ürün</td>
					<td width="120">Birim Fiyatı</td>
					<td width="80">Toplam</td>
				</tr>
				[:so_items:]
				<tr>
					<td colspan="2">&nbsp;</td>
					<td><b>Ürünlerin Ücreti</b></td>
					<td>[:total:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Teslimat Ücreti</b></td>
					<td>[:delivery_charge:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Para Birimi</b></td>
					<td>[:currency_id:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Genel Toplam</b></td>
					<td><b>[:amount:]</b></td>
				</tr>
			</table>
			<br>
			<p>
			Siparişiniz gönderildiğinde, kayıtlı e-posta adresinize onay mesajı yollanacaktır.<br /><br />
			</p>
			<table>
			<col width="160px" /><col />
			<tr>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td align="center"><a href="[:default_url:]"><img border=0 src='[:default_url:]/images/skype_email_free_min_offer.gif' alt="free_minutes_offer" /></a><br /><a href="[:default_url:]"><span style="font-size:11px;text-decoration:none;">Ayrıntılar için burayı tıklayın.</span></a></td>
				<td><p><span style="color:#2894FF">Skype Kupon Kodunuz: [:voucher_code:]</span></p><p>ChatandVision, müşterilerimize en iyi promosyonları sunabilmek için ortaklarımızla birlikte sürekli bir çalışma içindeyiz. Bu ayki fırsatımız: "Skype'dan 60 Dakikaya Kadar Bedava Görüşme". Bedava dakikalarınızı itfa etmek için lütfen <a href="http://Skype.com/voucher">burayı tıklayın</a>!</p></td>
			</tr>
			<tr>
			</tr>
			</table>
			<p>
				Yeniden, ChatandVision`dan alışveriş yaptığınız için teşekkür ederiz. Yaptığınız işi takdir ediyoruz ve size yakında yeniden hizmet etmeyi bekliyoruz.  Herhangi bir sorun durumunda, S.S.S. sayfasını ziyaret edebilirsiniz ya da <a href="mailto:[:from_email:]">[:from_email:]</a> adresine daha fazla yardım için e-posta gönderebilirsiniz.<br /><br />
			</p>
			<p>
			Saygılarımızla,<br /><br />
			Müşteri Hizmetleri Ekibi<br /><br />
			[:site_name:] Ltd.<br />
			"Skype's Global Merchant Partner"<br />
			<a href="www.chatandvision.com" target="_cnv">www.chatandvision.com</a>
			</p>
		</td>
	</tr>
</body>
</html>
