<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="[:default_url:]/css/style.css">
</head>

<body topmargin="5" leftmargin="5" bgcolor="#FFFFFF">

<table border="0" cellpadding="5" cellspacing="0" width="940px" bgcolor="#FFFFFF" align="center">
	<tr>
		<td>
			<table height="22" border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td align="left"><img border=0 src="[:default_url:]/images/[:logo_file_name:]"></td>
					</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="30px">&nbsp;
		
		</td>
	</tr>
	<tr>
		<td>
			<p>
			Sehr geehrte/r Herr oder Frau [:forename:],<br /><br />
			Vielen Dank dass Sie bei [:site_name:] eingekauft haben!<br><br>
			Wir bestaetigen mit dieser email den Erhalt Ihrer Zahlung.<br><br>
			Ihre Bestellnummer ist <b>[:so_no:]</b> und die Sendung wird gewoehnlich in [:delivery_days:] Werktagen ausgeliefert, wobei wir jedoch annehmen dass dies eher geschehen wird. Sie koennen sich via unserer Webseite in Ihr Konto einloggen unter "Mein Account" um den Status Ihrer Bestellung herauszufinden.<br><br>
			Bitte finden Sie hier Ihre Log-In details:<br><br>
			[:email:]<br>
			[:password:]<br><br>

			</p>
			<p>
			
			<b>Zusammenfassung der Bestellung:</b><br /><br />
			<b>Bestellnummer:</b><br />
			[:so_no:]<br /><br />
			<b>Rechnungsadresse:</b><br />
			[:billing_name:]<br />
			[:billing_address:]<br /><br />
			<b>Lieferadresse:</b><br />
			[:delivery_name:]<br />
			[:delivery_address:]<br /><br /><br />
			<table width="100%" cellspacing="0" cellpadding="4">
				<tr>
					<td width="40">Anzahl</td>
					<td>Produkt</td>
					<td width="120">Einzelpreis</td>
					<td width="80">Gesamtpreis</td>
				</tr>
				[:so_items:]
				<tr>
					<td colspan="2">&nbsp;</td>
					<td><b>Produktpreis</b></td>
					<td>[:total:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Versandkosten</b></td>
					<td>[:delivery_charge:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Waehrung</b></td>
					<td>[:currency_id:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Gesamtpreis</b></td>
					<td><b>[:amount:]</b></td>
				</tr>
			</table>
			<br>
			<p>
				Sobald die Sendung abgeschickt wurde, werden wir Ihnen eine Bestaetigungsemail mit Sendungsnummer zukommen lassen.<br /><br />
			</p>
			
			<table>
			<col width="160px" /><col />
			<tr>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td align="center"><a href="[:default_url:]"><img border=0 src='[:default_url:]/images/skype_email_free_min_offer.gif' alt="free_minutes_offer" /></a><br /><a href="[:default_url:]"><span style="font-size:11px;text-decoration:none;">Fuer weitere Details hier klicken.</span></a></td>
				<td><p><span style="color:#2894FF">Ihr Skype Gutschein Code: [:voucher_code:]</span></p><p>ChatandVision arbeitet kontinuierlich mit unseren Partnern zusammen um unseren Kunden die besten Promotionen anbieten zu koennen. Diesen Monat bieten wir: "Bis zu 60 Minuten gratis Skype Kredit". Bitte Please <a href="http://Skype.com/voucher">hier klicken</a> um Ihre gratis Minuten einzuloesen!</p></td>
			</tr>
			<tr>
			</tr>
			</table>
			
			<p>
				Wir freuen uns auf Ihre Nachricht und bedanken uns erneut fuer Ihren Einkauf. Sollten Sie weitere Hilfe benoetigen, schauen Sie bitte auf unsere F.A.Q. Seite oder kontaktieren Sie uns gerne jederzeit unter <a href="mailto:[:from_email:]">[:from_email:]</a>.<br /><br />
			</p>
			<p>
			Mit freundlichen Gruessen,<br /><br />
			Susanne Bilz<br /><br />
			Kundenbetreuerin<br /><br />
			[:site_name:] Ltd.<br />
			"Skype's Global Merchant Partner"<br />
			<a href="www.chatandvision.com" target="_cnv">www.chatandvision.com</a>

			</p>
		</td>
	</tr>
		



</body>
</html>
