<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="[:default_url:]/css/style.css">
</head>

<body topmargin="5" leftmargin="5" bgcolor="#FFFFFF">

<table border="0" cellpadding="5" cellspacing="0" width="940px" bgcolor="#FFFFFF" align="center">
	<tr>
		<td>
			<table height="22" border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td align="left"><img border=0 src="[:default_url:]/images/[:logo_file_name:]"></td>
					</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="30px">&nbsp;
		
		</td>
	</tr>
	<tr>
		<td>
			<p>
			Beste [:forename:],<br /><br />
			Bedankt voor uw aankoop bij [:site_name:]!<br><br>
			We kunnen nu bevestigen dat uw betaling is goedgekeurd en dat uw bestelling kan worden verwerkt.<br><br>
			Uw bestellingnummer is <b>[:so_no:]</b> .De betselling zal naar verwachting binnen  [:delivery_days:] werkdagen geleverd worden, al trachten we deze indien mogelijk eerder te leveren. U kunt op elk gewenst moment inloggen op de 'Mijn Account' pagina via onze winkelpagina om uw bestelling te bekijken.<br><br>
			Ter referentie hierbij uw inloggegevens:<br><br>
			[:email:]<br>
			[:password:]<br><br>

			</p>
			<p>
			
			<b>Omschrijving aankoop:</b><br /><br />
			<b>Bestellingnummer:</b><br />
			[:so_no:]<br /><br />
			<b>Datum bestelling:</b><br />
			[:order_create_date:]<br /><br />
			<b>Factuurgegevens:</b><br />
			[:billing_name:]<br />
			[:billing_address:]<br /><br />
			<b>Leveringsinformatie:</b><br />
			[:delivery_name:]<br />
			[:delivery_address:]<br /><br /><br />
			<table width="100%" cellspacing="0" cellpadding="4">
				<tr>
					<td width="40">Aantal</td>
					<td>Product</td>
					<td width="120">Prijs per stuk</td>
					<td width="80">Totaal</td>
				</tr>
				[:so_items:]
				<tr>
					<td colspan="2">&nbsp;</td>
					<td><b>Kosten artikelen</b></td>
					<td>[:total:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Leverkosten</b></td>
					<td>[:delivery_charge:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Valuta</b></td>
					<td>[:currency_id:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Eindtotaal</b></td>
					<td><b>[:amount:]</b></td>
				</tr>
			</table>
			<br>
			<p>
			Zodra uw bestelling is verzonden, sturen wij een bevestiging hiervan naar uw geregistreerde e-mailadres.<br /><br />
			</p>
			<table>
			<col width="160px" /><col />
			<tr>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td align="center"><a href="[:default_url:]"><img border=0 src='[:default_url:]/images/skype_email_free_min_offer.gif' alt="free_minutes_offer" /></a><br /><a href="[:default_url:]"><span style="font-size:11px;text-decoration:none;">Klik hier voor meer details.</span></a></td>
				<td><p><span style="color:#2894FF">Uw Skype Vouchercode: [:voucher_code:]</span></p><p>Bij ChatandVision werken we met onze partners constant aan de best mogelijke aanbiedingen voor klanten. De aanbieding van deze maand is: "Tot wel 60 Minuten Gratis Belkrediet van Skype".  <a href="http://Skype.com/voucher">Klik hier</a> om uw gratis belminuten te incasseren!</p></td>
			</tr>
			<tr>
			</tr>
			</table>
			<p>
				Nogmaals bedankt voor uw aankoop bij ChatandVision. Wij waarderen uw klandizie en we hopen u binnenkort weer van dienst te mogen zijn. Indien u vragen heeft, aarzel dan niet om onze FAQ-pagina te bekijken, of via e-mail <a href="mailto:[:from_email:]">[:from_email:]</a> contact met ons op te nemen voor verdere ondersteuning.<br /><br />
			</p>
			<p>
			Met vriendelijke groet, <br /><br />
			Saskia Baas<br /><br />
			Klantenservice.<br /><br />
			[:site_name:] Ltd.<br />
			"Skype's Global Merchant Partner"<br />
			<a href="www.chatandvision.com" target="_cnv">www.chatandvision.com</a>
			</p>
		</td>
	</tr>
		



</body>
</html>
