<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="[:default_url:]/css/style.css">
</head>

<body topmargin="5" leftmargin="5" bgcolor="#FFFFFF">

<table border="0" cellpadding="5" cellspacing="0" width="940px" bgcolor="#FFFFFF" align="center">
	<tr>
		<td>
			<table height="22" border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td align="left"><img border=0 src="[:default_url:]/images/[:logo_file_name:]"></td>
					</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="30px">&nbsp;
		
		</td>
	</tr>
	<tr>
		<td>
			<p>
			[:forename:] 께,<br /><br />
			저희 [:site_name:] 과의 쇼핑에 감사 드립니다.<br><br>
			결제가 승인되었음을 알려드립니다.<br><br>
			고객님의 주문 번호는 <b>[:so_no:]</b> 이며 [:delivery_days:] 일(주말, 공휴일 제외)이내로 배송 완료될 것입니다. 저희는 고객님이 더 빠른 시간에 배송이 완료될 수 있도록 최선을 다할 것입니다. 주문 상황은 언제든 웹 페이지의 “내 계좌”에 로그인 해 확인하실 수 있습니다.<br><br>
			고객님의 로그인 정보는 다음과 같습니다.<br><br>
			[:email:]<br>
			[:password:]<br><br>

			</p>
			<p>
			고객님의 주문 정보 보기는 아래를 참조하기 바랍니다.<br><br>
			
			<b>구매 내역 요약:</b><br /><br />
			<b>주문 번호:</b><br />
			[:so_no:]<br /><br />
			<b>구입 일자:</b><br />
			[:order_create_date:]<br /><br />
			<b>결제 정보:</b><br />
			[:billing_name:]<br />
			[:billing_address:]<br /><br />
			<b>배송 정보:</b><br />
			[:delivery_name:]<br />
			[:delivery_address:]<br /><br /><br />
			<table width="100%" cellspacing="0" cellpadding="4">
				<tr>
					<td width="40">수량</td>
					<td>상품</td>
					<td width="120">단가</td>
					<td width="80">소계 총액</td>
				</tr>
				[:so_items:]
				<tr>
					<td colspan="2">&nbsp;</td>
					<td><b>상품가격</b></td>
					<td>[:total:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>배송 가격</b></td>
					<td>[:delivery_charge:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>환율</b></td>
					<td>[:currency_id:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>총합계</b></td>
					<td><b>[:amount:]</b></td>
				</tr>
			</table>
			<br>
			<p>
			상품이 배송됨과 동시에 등록된 고객님의 이메일로 배송 확인메일이 보내질 것입니다.  <br /><br />
			</p>
			<table>
			<col width="160px" /><col />
			<tr>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td align="center"><a href="[:default_url:]"><img border=0 src='[:default_url:]/images/skype_email_free_min_offer.gif' alt="free_minutes_offer" /></a><br /><a href="[:default_url:]"><span style="font-size:11px;text-decoration:none;">더 자세한 정보를 보시려면 여기를 클릭하세요. </span></a></td>
				<td><p><span style="color:#2894FF">귀하의 Skype 바우처 번호: [:voucher_code:]</span></p><p>ChatandVision는 저희의 협력업체들과 함께 가능한 한 최상의 프로모션을 고객님들께 드리기 위해 지속적으로 노력하고 있습니다. 이 달의 프로모션은 "Skype로부터 최대 60분 무료 전화!"  <a href="http://Skype.com/voucher">입니</a> 다. 여기를 클릭하셔서 무료 전화 크레딧을 받아가세요!</p></td>
			</tr>
			<tr>
			</tr>
			</table>
			<p>
				다시한번 ChatandVision 과의 쇼핑에 감사 드리며 빠른 시일 내에 고객님과의 재 만남을 기다립니다. 문의사항이 있으시면 FAQ란을 참조하시거나 <a href="mailto:[:from_email:]">[:from_email:]</a> 으로 이메일 보내주시기 바랍니다.<br /><br />
			</p>
			<p>
			감사합니다.<br /><br />
			고객 서비스 팀<br /><br />
			[:site_name:] Ltd.<br />
			"Skype's Global Merchant Partner"<br />
			<a href="www.chatandvision.com" target="_cnv">www.chatandvision.com</a>
			</p>
		</td>
	</tr>
		



</body>
</html>
