<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="[:default_url:]/css/style.css">
</head>

<body topmargin="5" leftmargin="5" bgcolor="#FFFFFF">

<table border="0" cellpadding="5" cellspacing="0" width="940px" bgcolor="#FFFFFF" align="center">
	<tr>
		<td>
			<table height="22" border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td align="left"><img border=0 src="[:default_url:]/images/[:logo_file_name:]"></td>
					</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="30px">&nbsp;</td>
	</tr>
	<tr>
		<td>
			<p>
			Dear [:forename:],<br /><br />
Thanks for taking up our offer.
<br><br>
Your new order number is [:so_no:]. Our Customer Service team will update you with the tracking details as soon as your order is dispatched. You may check your My account page for the latest updates on your order.
<br><br>
Should you have any further queries, do not hesitate to use our interactive webform <a href="http://[:site_url:]/contact#enquiry_box_anchor" target="_contact">here</a>.
			<p>
			Best regards,<br />
			Agatha Stevens<br />
			Customer Care Specialist<br />
			<a href="http://[:site_url:]" target="_vb">[:site_url:]</a>
			</p>
		</td>
	</tr>
</body>
</html>
