<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td colspan="2" align="left">
				<p><img border=0 src="/images/logo/digitaldiscount.png"></p>
			</td>
		</tr>

		<tr>
			<td colspan="2" align="left">
				<font color="#FF6600"><b><i><p>[:thank_you:] [:site_name:]</p></i></b></font>
			</td>
		</tr>

		<tr>
			<td colspan="2" align="left">
				<b><p style="font-size:18px;">[:invoice:]</p></b>
			</td>
		</tr>

		<tr>
			<td width="50%" valign="top">
				<b>[:label_order_no:]:</b>
				<p>[:order_no:]</p>
				<p>&nbsp;</p>
			</td>
			<td width="50%" valign="top">
				<b>[:label_order_date:]:</b>
				<p>[:order_date:]</p>
				<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td width="50%" valign="top">
				<b>[:label_client_id_no:]</b>
				[:client_id_no:]
			</td>
		</tr>
		<tr>
			<td width="50%" valign="top">
				<b>[:label_ship_to:]:</b>
				<p>[:delivery_name:]</p>
				<p>&nbsp;</p>
				<p>[:delivery_address:]</p>
				<p>&nbsp;</p>
			</td>
			<td width="50%" valign="top">
				<b>[:label_bill_to:]:</b>
				<p>[:billing_name:]</p>
				<p>&nbsp;</p>
				<p>[:billing_address:]</p>
				<p>&nbsp;</p>
			</td>
		</tr>

		<tr>
			<td width="50%" valign="top">
				<b>[:label_promotion_code:]:</b>
				<p>[:promotion_code:]</p>
				<p>&nbsp;</p>
			</td>
			<td width="50%" valign="top">
				<b>[:label_payment_method:]:</b>
				<p>[:payment_method:]</p>
				<p>&nbsp;</p>
			</td>
		</tr>

		<tr>
			<td colspan="2">
				<table border="1" width="100%" cellspacing="0" cellpadding="4">
					<tr>
						<td colspan="5" valign=top bgcolor="#FFCC00" bordercolor="#666666" height="10px">
							<b>[:label_order_details:]</b>
						</td>
					</tr>

					<tr>
						<td width="521" colspan="2" valign"top" height="10px" bgcolor="#CCCCCC"><b>[:label_description:]</b></td>
						<td width="117" valign"top" height="10px" bgcolor="#CCCCCC"><b>[:label_unit_price:]</b></td>
						<td width="117" valign"top" height="10px" bgcolor="#CCCCCC"><b>[:label_quantity:]</b></td>
						<td width="117" valign"top" height="10px" bgcolor="#CCCCCC"><b>[:label_total:]</b></td>
					</tr>

					[:item_information:]

					<tr>
						<td colspan="2" rowspan="5" valign="top">&nbsp;</td>
						<td colspan="2" valign="top" bgcolor="#CCCCCC"><b>[:label_cost_of_items:]</b></td>
						<td valign="top"><b>[:sum_total:]</b></td>
					</tr>

					<tr>
						<td colspan="2" valign="top" bgcolor="#CCCCCC"><b>[:label_delivery:]</b></td>
						<td valign="top"><b>[:sid:]</b></td>
					</tr>

					<tr>
						<td colspan="2" valign="top" bgcolor="#CCCCCC"><b>[:label_processing_fee:]</b></td>
						<td valign="top"><b>[:processing_fee:]</b></td>
					</tr>

					<tr>
						<td colspan="2" valign="top" bgcolor="#CCCCCC"><b>[:label_currency:]</b></td>
						<td valign="top"><b>[:currency:]</b></td>
					</tr>

					<tr>
						<td colspan="2" valign="top" bgcolor="#CCCCCC"><b>[:label_grand_total:]</b></td>
						<td valign="top"><b>[:grand_total:]</b></td>
					</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td colspan="2">
			<p>&nbsp;</p>

			<font size="-1">
				<p>[:return_policy_1:]<a href="[:contact_us_url:]" target="_blank">[:contact_us:]</a>[:return_policy_2:]</p>
			</font>
		</td>
	</tr>

</table>
<p class="pb"></p>
