<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>[:site_name:]: [:email_heading:]</title>
	</head>

	<body>
		<table border=0 cellspacing=0 cellpadding=0 width="100%">

			<tr>
				<td colspan="2">
					<p>[:dear:] [:bill_name:],</p>
					<p><b><font color="#FF6600">[:thank_you_1:]</font></b></p>
					<p>[:thank_you_2:]</p>
					<p>[:item_detail:]</p>
				</td>
			</tr>

			<tr>
				<td colspan="2">
					<p>&nbsp;</p>
					<p>[:feedback_1:]</p>
					<p>[:feedback_2:]</p>
					<p>[:feedback_3:]</p>
					<p>
						<ul>
							<li>[:feedback_3_1:]</li>
							<li>[:feedback_3_2:]</li>
							<li>[:feedback_3_3:]</li>
							<li>[:feedback_3_4:]</li>
						</ul>
					</p>
					<p>[:ending_1:]</p>
					<p><a href="[:ebay_store_url:]" target="_vb">[:ebay_store_url:]</a></p>
					<p>[:ending_2:]</p>
					<p>&nbsp; </p>
					<p>[:best_regards:], </p>
					<p>
						[:customer_service_team:]<br />
						ValueBasket Ltd<br />
					</p>
				</td>
			</tr>
		</table>
	</body>
</html>