<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="[:default_url:]/css/style.css">
</head>

<body topmargin="5" leftmargin="5" bgcolor="#FFFFFF">

<table border="0" cellpadding="5" cellspacing="0" width="940px" bgcolor="#FFFFFF" align="center">
	<tr>
		<td>
			<table height="22" border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td align="left"><img border=0 src="[:image_url:]/images/[:logo_file_name:]"></td>
					</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="30px">&nbsp;
		
		</td>
	</tr>
	<tr>
		<td>
			<p>
			[:hi:] [:forename:],<br /><br />
			[:paragraph_1:] <a href="http://[:site_url:]">[:site_name:]</a>.<br><br>
			[:paragraph_2:] <a href='mailto:[:sender_email:]'>[:sender_email:]</a> [:paragraph_2_2:] .<br><br>
			[:paragraph_3:]<br><br>
			[:paragraph_4:]<br><br>
			[:paragraph_5:]<br><br>
			[:paragraph_6:]<br><br>
			<p>
			[:best_regards:],<br /><br />
			Jenny Leung<br /><br />
			[:customer_care_specialist:]<br /><br />
			[:site_name:]<br />
			<a href="[:site_url:]" target="_vb">[:site_url:]</a>
			</p>
		</td>
	</tr>
	<tr>
		<td>
			[:recommend_us_on:] 
			<a href="https://plus.google.com/104457367954785921390" target="_google"><img style="border:0;width:32px;height:32px;" alt="Google+" src="//ssl.gstatic.com/images/icons/gplus-32.png"></a>
			<a href="https://www.facebook.com/ValueBasket" target="_facebook"><img width="32" height="32" src="http://[:site_url:]/images/f_logo.png"></a>
			<a href="http://www.youtube.com/user/ValueBasketTV?feature=creators_cornier-%2F%2Fs.ytimg.com%2Fyt%2Fimg%2Fcreators_corner%2FYouTube%2Fyoutube_32x32.png" target="_youtube"><img width="32" height="32" alt="Subscribe to me on YouTube" src="//s.ytimg.com/yt/img/creators_corner/YouTube/youtube_32x32.png"></a>
		</td>
	</tr>
</body>
</html>
