<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>[:site_name:] [:client_id:]-[:so_no:]</title>
	</head>

	<body>
		<table border=0 cellspacing=0 cellpadding=0 width="100%">
			<tr>
				<td>
					<p>[:dear:] [:forename:],</p>
					<p>
						[:paragraph_1:]<br /><br />

						[:paragraph_2:]<br /><br />
						
						[:paragraph_3:]<br /><br />
						
						[:paragraph_4:]<br />
					</p>
					<p>[:best_regards:] </p>
					<p>
						<a href="mailto:[:from_email:]">[:sender_name:]</a><br />
						[:customer_care_specialist:]<br />
						<a href="[:site_url:]">[:site_url:]</a><br />
					</p>
				</td>
			</tr>
		</table>
	</body>
</html>