<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body topmargin="0" leftmargin="0">
<style>
<!--
A:link {text-decoration: none; color: #FF6600}
A:visited {text-decoration: none; color: #FF6600}
A:active {text-decoration: none; color: #FF6600}
A:hover {text-decoration: none; color: #000000}
b {font-weight: bold}\nbody,p,div,span,th,td{font-family:arial,sans-serif;font-size:12px;color:#000000}
-->
</style>
<div align='center'><img border=0 src='http://www.purelygadgets.co.uk/images/mainlogo3.gif'></div><br><br>Cher/Chère [:buyername:],<br><br>
Merci d'avoir placé une commande avec Purelygadgets.co.uk!<br><br>
Nous voudrions confirmer que nous avons recu votre commande et nous la traiterons sous peu. Votre numéro de commande est <b>[:amazon_order_no:]</b>.<br><br>
Selon la politique d'Amazon, votre commande sera expédiée en 2 à 3 jours ouvrés et sera livrée en 2 à 5 jours ouvrés. Veuillez noter que dans la pluspart des cas notre délai de livraison est plus court que prévu permettant ainsi à nos clients de jouir du produit au plus tot.<br><br>
Dès que votre commande sera expédiée, notre représentant de service clientèle vous tiendra au courant sur la progression de la commande. Si vous avez des questions concernant votre commande, s'il vous plait n'hésitez pas à nous envoyer un e-mail à <a href="mailto:sandrine@purelygadgets.co.uk"><b>sandrine@purelygadgets.co.uk</b></a>.<br><br>
Nous voudrions vous remercier encore pour votre commande et nous espérons vous revoir bientot.<br><br>

Sandrine Legrand<br>
<i>Représentant de service clientèle
<br>PurelyGadgets.co.uk
<br><a href='http://www.purelygadgets.co.uk'>www.purelygadgets.co.uk</a></i>
<br>Co: 05169769
<br>VAT: 843 6590 07<br><br>
</body>
</html>