<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="[:default_url:]/css/style.css">
</head>

<body topmargin="5" leftmargin="5" bgcolor="#FFFFFF">

<table border="0" cellpadding="5" cellspacing="0" width="940px" bgcolor="#FFFFFF" align="center">
	<tr>
		<td>
			<table height="22" border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td align="left"><img border=0 src="[:default_url:]/images/[:logo_file_name:]"></td>
					</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="30px">&nbsp;
		
		</td>
	</tr>
	<tr>
		<td>
			<p>
			Cher [:forename:],<br /><br />
			Merci pour votre achat sur [:site_name:]!<br><br>
			Nous voudrions confirmer que votre paiement a été accepté et votre commande a été activée.<br><br>
			Veuillez noter que votre numéro de commande est <b>[:so_no:]</b>. Vous pouvez à tout moment accéder à la page de 'Mon compte' via notre site pour vérifier les détails de votre commande à votre convenance.<br><br>
			Par commodité, vos informations de connexion sont:<br><br>
			Email: [:email:]<br>
			Mot de passe: [:password:]<br><br>

			</p>
			<p>
			
			<b>Résumé de votre commande :</b><br /><br />
			<b>Numéro de commande :</b><br />
			[:so_no:]<br /><br />
			<b>Date de commande :</b><br />
			[:order_create_date:]<br /><br />
			<b>Coordonnées de facturation :</b><br />
			[:billing_name:]<br />
			[:billing_address:]<br /><br />
			<b>Coordonnées de livraison :</b><br />
			[:delivery_name:]<br />
			[:delivery_address:]<br /><br /><br />
			<table width="100%" cellspacing="0" cellpadding="4">
				<tr>
					<td width="40">Qté</td>
					<td>Produit</td>
					<td width="120">Prix unitaire</td>
					<td width="80">Total</td>
				</tr>
				[:so_items:]
				<tr>
					<td colspan="2">&nbsp;</td>
					<td><b>Coût des articles</b></td>
					<td>[:total:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Livraison</b></td>
					<td>[:delivery_charge:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Devise</b></td>
					<td>[:currency_id:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Total Final</b></td>
					<td><b>[:amount:]</b></td>
				</tr>
			</table>
			<br>
			<p>
				A réception de cet email de confirmation de commande, veuillez noter qu’aucun remboursement ne pourra être effectué quelles que soient les circonstances suite à l’achat de votre logiciel.  Toutes les ventes des logiciels chez [:site_name:] sont réputées fermes et définitives.
			</p>
			<p>
			Votre commande est maintenant finalisée. Nous vous serons reconnaissants si vous pouvez prendre un instant pour répondre à quelques questions sur vos expériences d’achat avec nous, afin que nous puissions améliorer notre service pour mieux nous adapter à vos besoins.<br /><br />
			</p>
			<p>Tous nos clients fidèles participants à ce sondage ont la chance de gagner des prix intéressants dans notre tirage au sort chaque mois.</p>
			<p align="center"><a href="http://vista-survey.com/survey/v2/survey2.dsb?ID=1536253776" target="_blank">Cliquer ici pour commencer la questionnaire</a></p>
			<table>
			<col width="160px" /><col />
			<tr>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td align="center"><a href="[:default_url:]"><img border=0 src='[:default_url:]/images/skype_email_free_min_offer.gif' alt="free_minutes_offer" /></a><br /><a href="[:default_url:]"><span style="font-size:11px;text-decoration:none;">Cliquez ici pour plus de détails.</span></a></td>
				<td><p><span style="color:#2894FF">Votre Bon Skype: [:voucher_code:]</span></p><p>Chez ChatandVision, nous travaillons en permanence avec nos partenaires pour vous offrir les meilleures promotions. L'offre de ce mois-ci: "Jusqu'à 60 minutes gratuites  de crédit de communication Skype". <a href="http://Skype.com/voucher">Cliquez ici</a> pour obtenir vos minutes d'appel gratuit!</p></td>
			</tr>
			<tr>
			</tr>
			</table>
			<p>
			Merci encore pour votre achat sur notre boutique Chat and Vision. Votre achat est apprécié et nous nous ferons un plaisir de vous servir de nouveau. Au cas où vous auriez la moindre question, n'hésitez pas à visiter notre F.A.Q ou à nous contacter à <a href="mailto:[:from_email:]">[:from_email:]</a> pour davantage de détails.<br /><br />
			</p>
			<p>
			Sincères salutations,<br /><br />
			Martine Leroy<br /><br />
			Agent au Service  Client<br /><br />
			[:site_name:] Ltd.<br />
			"Skype's Global Merchant Partner"<br />
			<a href="www.chatandvision.com" target="_cnv">www.chatandvision.com</a>
			</p>
		</td>
	</tr>
</table>



</body>
</html>
