<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="[:default_url:]/css/style.css">
</head>

<body topmargin="5" leftmargin="5" bgcolor="#FFFFFF">

<table border="0" cellpadding="5" cellspacing="0" width="940px" bgcolor="#FFFFFF" align="center">
	<tr>
		<td>
			<table height="22" border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td align="left"><img border=0 src="[:default_url:]/images/[:logo_file_name:]"></td>
					</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="30px">&nbsp;
		
		</td>
	</tr>
	<tr>
		<td>
			<p>
			Estimado/a [:forename:],<br /><br />
			Obrigado por fazer compras na [:site_name:]!<br><br>
			Nós podemos confirmar que o pagamento foi aprovado e seu pedido já esta disponível para uso.<br><br>
			Por favor, note que o seu número de pedido é <b>[:so_no:]</b>. Para sua comodidade, pode iniciar sessão na página “Minha Conta” através da nossa loja a qualquer momento para verificar o estado da sua encomenda.<br><br>
			Para sua comodidade, os seus dados de inicio de sessão são os seguintes: <br><br>
			[:email:]<br>
			[:password:]<br><br>

			</p>
			<p>
			
			<b>Resumo da Compra:</b><br /><br />
			<b>Número de encomenda:</b><br />
			[:so_no:]<br /><br />
			<b>Data de encomenda: </b><br />
			[:order_create_date:]<br /><br />
			<b>Informações de faturamento:</b><br />
			[:billing_name:]<br />
			[:billing_address:]<br /><br />
			<b>Informações sobre entrega:</b><br />
			[:delivery_name:]<br />
			[:delivery_address:]<br /><br /><br />
			<table width="100%" cellspacing="0" cellpadding="4">
				<tr>
					<td width="40">Quantidade</td>
					<td>Produto</td>
					<td width="120">Preços Unitários</td>
					<td width="80">Total</td>
				</tr>
				[:so_items:]
				<tr>
					<td colspan="2">&nbsp;</td>
					<td><b>Items de custo</b></td>
					<td>[:total:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Entrega</b></td>
					<td>[:delivery_charge:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Moeda</b></td>
					<td>[:currency_id:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Total geral</b></td>
					<td><b>[:amount:]</b></td>
				</tr>
			</table>
			<br>
			<p>Ao receber este e-mail de confirmação do pedido, note que não serão feitas devoluções em quaisquer circunstâncias relativamente à compra do software. Todas as vendas de software em [:site_name:] são definitivas.</p>
			<p>Seu pedido esta completo agora e nós apreciaríamos se você pudesse reservar um tempo para  responder algumas questões sobre suas experiências iniciais conosco, para que possamos melhorar nosso serviço para satisfazer as suas necessidades da melhor forma possível.</p>
			<p>Todos os nossos fiéis clientes  que participaram dessa pesquisa estarão elegíveis para alguns grandes prêmios no nosso  Premio de Loteria Mensal.</p>
			<p align="center"><a href="http://vista-survey.com/survey/v2/survey2.dsb?ID=1536253776" target="_blank">Clique aqui para começar a pesquisa.</a></p>
			<table>
			<col width="160px" /><col />
			<tr>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td align="center"><a href="[:default_url:]"><img border=0 src='[:default_url:]/images/skype_email_free_min_offer.gif' alt="free_minutes_offer" /></a><br /><a href="[:default_url:]"><span style="font-size:11px;text-decoration:none;">Clique aqui para mais informações.</span></a></td>
				<td><p><span style="color:#2894FF">O Seu Código de Vale Skype: [:voucher_code:]</span></p><p>Na [:site_name:], trabalhamos continuamente com os nossos parceiros para as melhores promoções possíveis para os clientes. A oferta deste mês: "Até 60 Minutos de Crédito Grátis da Skype". Por favor, <a href="http://Skype.com/voucher">clique aqui</a> para levantar os seus minutos em chamadas grátis!</p></td>
			</tr>
			<tr>
			</tr>
			</table>
			<p>
				Mais uma vez, obrigado por fazer compras connosco na Chat and Vision. O seu negócio é apreciado e estamos ansiosos por servi-lo novamente no futuro próximo. Caso surja qualquer questão, não hesite em visitar a nossa página de F.A.Q ou enviar-nos um e-mail para <a href="mailto:[:from_email:]">[:from_email:]</a> para obter mais assistência.<br /><br />
			</p>
			<p>
			Atenciosamente,<br /><br />
			Fátima Alvares<br /><br />
			Equipe de Atendimento ao Cliente.<br /><br />
			[:site_name:] Ltd.<br />
			"Skype's Global Merchant Partner"<br />
			<a href="www.chatandvision.com" target="_cnv">www.chatandvision.com</a>
			</p>
		</td>
	</tr>
		



</body>
</html>
