<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>[:email_title_1:] [:email_title_2:] [:site_name:] [:email_title_3:]! – [:client_id:]-[:so_no:]</title>
	</head>

	<body>
		<table border=0 cellspacing=0 cellpadding=0 width="100%">
			<tr>
				<td align="left">
					<p><img src="[:image_url:]/images/[:logo_file_name:]" ></p>
				</td>
			</tr>

			<tr>
				<td colspan="2">
					<p>[:dear:] [:bill_name:],</p>
					<p><b><font color="#FF6600">[:thank_you_1:] [:site_name:]!</font></b></p>
					<p>
						[:thank_you_2:]<br /><br />
						[:thank_you_3:]
					</p>
					<p>&nbsp;</p>
				</td>
			</tr>

			<tr><td colspan="2"><b><font color="#FF6600">[:order_summary:]</font></b></td></tr>

			<tr>
				<td width="50%" valign=top>
					<b>[:order_number:]:</b>
					<p>[:client_id:]-[:so_no:]</p>
					<p>&nbsp;</p>
				</td>

				<td width="50%" colspan=2 valign=top>
					<b>[:order_date:]:</b>
					<p>[:purchase_date:]</p>
					<p>&nbsp;</p>
				</td>
			</tr>

			<tr>
				<td width="50%" valign=top>
					<p><b>[:ship_to:]:</b></p>
					<p>[:delivery_name:]</p>
					<p>&nbsp;</p>
					<p>[:delivery_address:]</p>
					<p>&nbsp;</p>
				</td>

				<td width="50%" colspan=2 valign=top>
					<p><b>[:bill_to:]:</b></p>
					<p>[:bill_name:]</p>
					<p>&nbsp;</p>
					<p>[:billing_address:]</p>
				</td>
			</tr>

			<tr>
				<td>
					<p><b>[:coupon_code_used:]:</b></p>
					<p>[:promotion_code:]</p><br />
				</td>

				<td>
					<p><b>[:delivery_method:]:</b></p>
					<p>[:courier_id:]</p>
					<p>[:tracking_id:]</p>
				</td>
			</tr>

			<tr>
				<td colspan="2">
					<table border="1" cellpadding="4" cellspacing="0" width="100%">
						<tr>
							<td colspan=4 valign=top bgcolor="#FFCC00" bordercolor="#666666" height="10px">
								<b>[:text_order_details:]</b>
							</td>
						</tr>

						<tr>
							<td width="65%" valign=top height="10px" bgcolor="#CCCCCC">
								<b>[:text_description:]</b>
							</td>
							<td width="5%" align="right" valign=top height="10px" bgcolor="#CCCCCC">
								<b>[:text_order_details:]</b>
							</td>
							<td width="15%" align="right" valign=top height="10px" bgcolor="#CCCCCC">
								<b>[:text_quantity:]</b>
							</td>
							<td width="15%" align="right" valign=top height="10px" bgcolor="#CCCCCC">
								<b>[:text_unit_price:]</b>
							</td>
						</tr>

						[:so_items:]

						<tr>
							<td rowspan="5" valign=top>
								<b>&nbsp;</b>
							</td>
							<td colspan="2" valign=top bgcolor="#CCCCCC">
								<b>[:text_cost_of_items:]</b>
							</td>
							<td align="right" valign=top>
								<b>[:subtotal:]</b>
							</td>
						</tr>

						<tr>
							<td colspan="2" valign=top bgcolor="#CCCCCC">
								<b>[:text_delivery:]</b>
							</td>
							<td align="right" valign=top>
								<b>[:delivery_charge:]</b>
							</td>
						</tr>

						<tr>
							<td colspan="2" valign=top bgcolor="#CCCCCC">
								<b>[:text_processing_fee:]</b>
							</td>
							<td align="right" valign=top>
								<b>[:processing_fee:]</b>
							</td>
						</tr>
						
						<tr>
							<td colspan="2" valign=top bgcolor="#CCCCCC">
								<b>[:text_currency:]</b>
							</td>
							<td align="right" valign=top>
								<b>[:currency_sign:]</b>
							</td>
						</tr>

						<tr>
							<td colspan="2" valign=top bgcolor="#CCCCCC">
								<b>[:text_grand_total:]</b>
							</td>
							<td align="right" valign=top>
								<b>[:total:]</b>
							</td>
						</tr>
					</table>
				</td>
			</tr>

			<tr>
				<td colspan="2">
					<p>&nbsp;</p>
					<p>[:content_1:] <!--<a href="http://[:site_url:]/[:lang_country_pair:]/contact#enquiry_box_anchor" target="_contact">http://[:site_url:]/[:lang_country_pair:]/contact#enquiry_box_anchor</a>.--></p>
					<p>[:content_2:] <a href='[:site_url:]/[:lang_country_pair:]/contact#enquiry_box_anchor' target='_contact'>[:content_3:]</a></p> [:content_4:]
					<p>&nbsp; </p>
					<p>[:best_regards:], </p>
					<p>
						[:customer_care_name:]<br />
						[:customer_care_specialist:]<br />
						[:site_name:]<br />
						<a href="[:site_url:]" target="_vb">[:site_url:]</a>
					</p>
				</td>
			</tr>
		</table>
	</body>
</html>