<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="[:default_url:]/css/style.css">
</head>

<body topmargin="5" leftmargin="5" bgcolor="#FFFFFF">

<table border="0" cellpadding="5" cellspacing="0" width="940px" bgcolor="#FFFFFF" align="center">
	<tr>
		<td>
			<table height="22" border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td align="left"><img border=0 src="[:default_url:]/images/[:logo_file_name:]"></td>
					</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="30px">&nbsp;
		
		</td>
	</tr>
	<tr>
		<td>
			<p>
			Kjære [:forename:],<br /><br />
			Tack för att du handlat hos [:site_name:]!<br /><br />
			Vi kan nå bekrefte at betalingen er godkjent og bestillingen nå blir behandlet.<br /><br />
			Ditt ordrenummer er <b>[:so_no:]</b>, og forventes å bli levert i løpet av [:delivery_days:] arbeidsdager, men vi vil forsøke å få dette levert til deg tidligere. For enkelhets skyld, kan du logge deg inn på "Min konto" siden via utstillingsvinduet vår til enhver tid for å sjekke status på din bestilling.<br /><br />
			For enkelhets skyld, dine innloggingsdetaljer er som følger:<br /><br />
			[:email:]<br />
			[:password:]<br /><br />

			</p>
			<p>
			Også for referanse, vennligst gjennomgå detaljene i bestillingen din nedenfor.<br /><br />
			<b>Innkjøpssammendrag:</b><br /><br />
			<b>Bestillingsnummer:</b><br />
			[:so_no:]<br /><br />
			<b>Kjøpsdato:</b><br />
			[:order_create_date:]<br /><br />
			<b>Faktureringsinformasjon:</b><br />
			[:billing_name:]<br />
			[:billing_address:]<br /><br />
			<b>Levering Informasjon:</b><br />
			[:delivery_name:]<br />
			[:delivery_address:]<br /><br /><br />
			<table width="100%" cellspacing="0" cellpadding="4">
				<tr>
					<td width="40">Stk</td>
					<td>Produkt</td>
					<td width="120">Enhetspris</td>
					<td width="80">Total</td>
				</tr>
				[:so_items:]
				<tr>
					<td colspan="2">&nbsp;</td>
					<td><b>Enhetskostnad</b></td>
					<td>[:total:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Leveringskostnad</b></td>
					<td>[:delivery_charge:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Valuta</b></td>
					<td>[:currency_id:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Sluttsum</b></td>
					<td><b>[:amount:]</b></td>
				</tr>
			</table>
			<br />
			<p>Vennligst merk at det gis ingen refusjon på noen som helst måte etter at du har mottatt en e-post med kvittering for kjøpet av programvaren. Alle salg for programvare hos [:site_name:] er ikke refunderbare.</p>
			<p>
			Når bestillingen er sendt, vil vi sende deg en bekreftelse til din registrerte e-postadresse.<br /><br />
			</p>
			<table>
			<col width="160px" /><col />
			<tr>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td align="center"><a href="[:default_url:]"><img border=0 src='[:default_url:]/images/skype_email_free_min_offer.gif' alt="free_minutes_offer" /></a><br /><a href="[:default_url:]"><span style="font-size:11px;text-decoration:none;">Klicka här för mer information.</span></a></td>
				<td><p><span style="color:#2894FF">Din Skype kupong code: [:voucher_code:]</span></p><p>Hos [:site_name:], arbeider vi kontinuerlig med våre partnere for å skaffe kundene best mulig tilbud. Denne måneden er tilbudet: "Opp til 60 Minutter Gratis Ringetid fra Skype ".<a href="http://Skype.com/voucher">Klikk her</a>for å løse inn gratis ringeminutter!</p></td>
			</tr>
			<tr>
			</tr>
			</table>
			<p>
			Igjen, takk for at du handler hos oss her på Chat og Vision din interesse er verdsatt, og vi ser frem til å tjene deg igjen i fremtiden. Ved spørsmål, ikke nøl med å besøke vår FAQ side eller e-mail oss på <a href="mailto:[:from_email:]">[:from_email:]</a> for ytterligere assistanse.<br /><br />
			</p>
			<p>
			Beste hilsen,<br /><br />
			Kundeservice Team<br /><br />
			[:site_name:] Ltd.<br />
			"Skype's Global Merchant Partner"<br />
			<a href="www.chatandvision.com" target="_cnv">www.chatandvision.com</a>
			</p>
		</td>
	</tr>
		



</body>
</html>
