<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="[:default_url:]/css/style.css">
</head>

<body topmargin="5" leftmargin="5" bgcolor="#FFFFFF">

<table border="0" cellpadding="5" cellspacing="0" width="940px" bgcolor="#FFFFFF" align="center">
	<tr>
		<td>
			<table height="22" border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td align="left"><img border=0 src="[:default_url:]/images/[:logo_file_name:]"></td>
					</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="30px">&nbsp;
		
		</td>
	</tr>
	<tr>
		<td>
			<p>
			Querido [:forename:],<br /><br />
			Gracias por comprar con [:site_name:]!<br /><br />
			Es de nuestro agrado informarle que su pago a sido aprobado y su orden está siendo procesado en estos momentos.<br /><br />
			Su número de orden es <b>[:so_no:]</b> y puede esperar su orden dentro de [:delivery_days:]  días laborales, aunque nos esforzaremos por enviar su orden lo antes posible. Para su conveniencia, usted puede entrar a "Mi Cuenta" en nuestra página principal en cualquier momento para revisar el estado de su orden.<br /><br />
			Para su conveniencia, sus detalles para iniciar sesión son los siguientes:<br /><br />
			[:email:]<br />
			[:password:]<br /><br />
			</p>
			<p>Para su conveniencia, por favor revise los detalles de su orden mostrados a continuación:</p>
			<p>
			
			<b>Resumen de la Compra:</b><br /><br />
			<b>Número de Orden:</b><br />
			[:so_no:]<br /><br />
			<b>Fecha de Compra:</b><br />
			[:order_create_date:]<br /><br />
			<b>Información de Facturación:</b><br />
			[:billing_name:]<br />
			[:billing_address:]<br /><br />
			<b>Información de Envío:</b><br />
			[:delivery_name:]<br />
			[:delivery_address:]<br /><br /><br />
			<table width="100%" cellspacing="0" cellpadding="4">
				<tr>
					<td width="40">Cant</td>
					<td>Producto</td>
					<td width="120">Precio Unidad</td>
					<td width="80">Total</td>
				</tr>
				[:so_items:]
				<tr>
					<td colspan="2">&nbsp;</td>
					<td><b>Costo de los Artículos</b></td>
					<td>[:total:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Envío</b></td>
					<td>[:delivery_charge:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Moneda</b></td>
					<td>[:currency_id:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Total Final</b></td>
					<td><b>[:amount:]</b></td>
				</tr>
			</table>
			<br />
			<p>Con la recepción de este correo electrónico sobre la confirmación de su pedido, por favor tome nota que bajo ninguna circunstancia se hará reembolsos de su compra por el software. Todas las ventas de software en [:site_name:] son finales.</p>
			<p>
			Una vez su pedido haya sido despachado, usted recibirá confirmación de envío en el correo electrónico registrado<br /><br />
			</p>
			<table>
			<col width="160px" /><col />
			<tr>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td align="center"><a href="[:default_url:]"><img border=0 src='[:default_url:]/images/skype_email_free_min_offer.gif' alt="free_minutes_offer" /></a><br /><a href="[:default_url:]"><span style="font-size:11px;text-decoration:none;">Haga clic aquí para obtener más detalles.</span></a></td>
				<td><p><span style="color:#2894FF">El Código Promocional de Skype es: [:voucher_code:]</span></p><p>En [:site_name:] trabajamos continuamente con nuestros socios para ofrecer a nuestros clientes con las mejores promociones. En este mes ofrecemos: "Hasta 60 minutos gratis de crédito Skype". Por favor haga <a href="http://Skype.com/voucher">clic aquí</a> para redimir los minutos para llamadas por voz!</p></td>
			</tr>
			<tr>
			</tr>
			</table>
			<p>
			Una vez más, gracias por comprar con nosotros aquí en [:site_name:]. Su negocio es apreciado, y esperamos servirle una vez más en el futuro. En el evento de que tenga alguna duda, por favor visite nuestra página F.A.Q o mándenos un correo a <a href="mailto:[:from_email:]">[:from_email:]</a> para mayor asistencia.<br /><br />
			</p>
			<p>
			Atentamente,<br /><br />
			Carmen Gómez <br /><br />
			Agente de Atención al Cliente<br /><br />
			[:site_name:] Ltd.<br />
			"Skype's Global Merchant Partner"<br />
			<a href="www.chatandvision.com" target="_cnv">www.chatandvision.com</a>
			</p>
		</td>
	</tr>
		



</body>
</html>
