<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="[:default_url:]/css/style.css">
</head>

<body topmargin="5" leftmargin="5" bgcolor="#FFFFFF">

<table border="0" cellpadding="5" cellspacing="0" width="940px" bgcolor="#FFFFFF" align="center">
	<tr>
		<td>
			<table height="22" border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td align="left"><img border=0 src="[:default_url:]/images/[:logo_file_name:]"></td>
					</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="30px">&nbsp;
		
		</td>
	</tr>
	<tr>
		<td>
			<p>
			[:forename:] 様,<br /><br />
			[:site_name:]でお買い上げいただき誠にありがとうございます。<br /><br />
			お支払いが承認され、お客様のご注文が処理可能となったことを確認致しました。<br /><br />
			お客様の注文番号は <b>[:so_no:]</b> です。[:delivery_days:] 営業日以内にはお届けできる見込みですが、弊社としては商品がより迅速に届けられるよう努力致します。弊社ショップから「マイアカウント」ページにログインすると、注文の状況をいつでもご確認いただけます。<br /><br />
			お客様のログイン情報は以下の通りです：<br /><br />
			[:email:]<br />
			[:password:]<br /><br />

			</p>
			<p>
			
			<b>購入内容:</b><br /><br />
			<b>注文番号：</b><br />
			[:so_no:]<br /><br />
			<b>注文日：</b><br />
			[:order_create_date:]<br /><br />
			<b>請求情報：</b><br />
			[:billing_name:]<br />
			[:billing_address:]<br /><br />
			<b>お届け情報：</b><br />
			[:delivery_name:]<br />
			[:delivery_address:]<br /><br /><br />
			<table width="100%" cellspacing="0" cellpadding="4">
				<tr>
					<td width="40">数量</td>
					<td>製品</td>
					<td width="120">単価</td>
					<td width="80">合計</td>
				</tr>
				[:so_items:]
				<tr>
					<td colspan="2">&nbsp;</td>
					<td><b>商品価格</b></td>
					<td>[:total:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>配信コスト</b></td>
					<td>[:delivery_charge:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>通貨</b></td>
					<td>[:currency_id:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>総計</b></td>
					<td><b>[:amount:]</b></td>
				</tr>
			</table>
			<br />
			<p>このご注文確認のメールの受信の際、いかなる状況下でもソフトウェア料金の返金をいたしませんことをご了承ください。[:site_name:]でのすべてのソフトウェア販売では、返金を一切お断りいたします。</p>
			<p>
			商品が発送されましたら、発送確認通知をお客様の登録済みメールアドレス宛にお送り致します。<br /><br />
			</p>
			<table>
			<col width="160px" /><col />
			<tr>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td align="center"><a href="[:default_url:]"><img border=0 src='[:default_url:]/images/skype_email_free_min_offer.gif' alt="free_minutes_offer" /></a><br /><a href="[:default_url:]"><span style="font-size:11px;text-decoration:none;">さらなる詳細情報はここをクリック。</span></a></td>
				<td><p><span style="color:#2894FF">あなたのSkypeバウチャーコード: [:voucher_code:]</span></p><p>[:site_name:]で、我々はパートナーと共に出来る限り最良のカスタマープロモーションのために絶え間なく努力しています。今月のオファー："Skypeから60分までの無料クレジット"<a href="http://Skype.com/voucher">ここをクリック</a>して無料通話分数を入手しましょう！</p></td>
			</tr>
			</table>
			<p>
				[:site_name:]でお買い上げいただきましたことを重ねてお礼申し上げます。またのご利用を心よりお待ち申し上げます。ご不明な点等ございましたら、弊社のよくある質問ページをご覧いただくか、 <a href="mailto:[:from_email:]">[:from_email:]</a> までお気軽にメールをお送り下さい。<br /><br />
			</p>
			<p>
			宜しくお願い申し上げます。<br /><br />
			山田 優衣<br /><br />
			カスタマーケアチーム<br /><br />
			[:site_name:] Ltd.<br />
			"Skype's Global Merchant Partner"<br />
			<a href="www.chatandvision.com" target="_cnv">www.chatandvision.com</a>
			</p>
		</td>
	</tr>
		



</body>
</html>
