/*#searchspring-autocomplete_results  {
    border:  1px solid #ccc;
    border-radius:5px;
    box-shadow:2px 2px 6px rgba(0,0,0,0.2);
    display: block;
    position: absolute;
    background-color: #fff;
    font-family: sans-serif;
    margin:  8px 0px 0px 0px;
    list-style-type: none;
    padding: 3px;
    text-align: left;
    z-index: 999;
    width: 380px;
}

#searchspring-autocomplete_results .ac_result_even {
    background-color:#f8f8f8;
}

#searchspring-autocomplete_results .ac_result_even:hover {
    background-color:#f5f5f5;
}

#searchspring-autocomplete_results:before {
    content:'';
    background: url(//cdn.searchspring.net/autocomplete/ss-ra-arrow.png);
    width:14px;
    height:12px;
    top:-10px;
    left:10px;
    position:absolute;
    display:block;
}

.ac_term_suggest {
    background-color: #f5f5f5;
    border:none;
    padding: 5px 0;
    font-size: .8em;
    text-align: center;
    font-weight: 400;
    color:#999;
    display: block;
}

.ac_term_suggest.highlight,
.ac_term_suggest:hover {
    cursor: pointer;
    background-color: #e5e5e5;
}

#searchspring-autocomplete_results .ac_title {
    text-transform: uppercase;
    font-size: .8em;
    color: #fff;
    margin:  0 0 5px;
    padding:  3px 5px;
    font-weight: 400;
    border-bottom: solid 1px #f5f5f5;
    background:#383838;
}

#searchspring-autocomplete_results .ac_title:first-of-type {
    border-radius: 3px 3px 0 0;
}


.ac_term_result {
    padding: 3px 5px 3px 10px;
    color: #383838;
    font-weight: 400;
    font-size: 1em;
    cursor: pointer;

}

.ac_term_result em {
    color: #383838;
    font-weight:600;
    font-style:normal;
}

.ac_product_result {
    padding:6px;
    border-bottom:solid 1px #f5f5f5;
}

.ac_product_result a {
    text-decoration: none;
}

.ac_result.highlight,
.ac_result:hover {
    background-color: #f8f8f8;
}

.ac_product_result .info {
    float: left;
    width: 80%;
    margin-left: 3%;
    font-size: 11px;
}

.ac_product_result .info .name {
    color: #383838;
    font-weight:400;
    font-size:1.2em;
    line-height:1em
}

.ac_product_result .info .name em {
    font-style: normal;
    color: #383838;
    font-weight:bold
}

.ac_product_result .info .sku {
    color: #767676;
    letter-spacing:1px;
    font-size: 1em;
    font-style:normal;
    float:right;
    display:block;
    margin-top:11px;
}

.ac_product_result .info .sku em {
    font-weight: bold;
    color: #383838;
}

.ac_product_result .info .price {
    color: #767676;
    font-size:1.2em;
    float:left;
    display:block;
    font-style:italic;
    margin-top:10px
}

.ac_product_result .image {
    height: 80px;
    width: 16%;
    display: block;
    overflow: hidden;
    float: left;
}

.ac_product_result .image img {
    max-height: 80px;
    max-width: 100%;
    margin:  0 auto;
    border:  0;
}

.ac_product_result .clear {
    clear: both;
}


.ac_powered {
    text-align: center;
    padding:  1px 0 3px;
    height:20px;
    border-radius:0px 0px 3px 3px;
    background-color: #383838;

}*/


body #searchspring-autocomplete_results {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 1px solid #d9d9d9;
  z-index: 9999;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
  width: 400px;
}
body #searchspring-autocomplete_results li {
  margin: 0;
}
body #searchspring-autocomplete_results em {
  color: #549B17;
  font-style: normal;
}
body #searchspring-autocomplete_results .ac_title:first-of-type,
body #searchspring-autocomplete_results .ac_title,
body #searchspring-autocomplete_results .ac_powered {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
body #searchspring-autocomplete_results .ac_title,
body #searchspring-autocomplete_results .ac_term_suggest {
  padding: 6px 12px;
  font-family: "Open Sans", Arial, Sans-serif;
  color: #fff;
  background: #323232;
}
body #searchspring-autocomplete_results .ac_term_suggest em {
  color: #fff;
}
body #searchspring-autocomplete_results .ac_title {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
}
body #searchspring-autocomplete_results .ac_term_suggest {
  font-size: 14px;
  line-height: 18px;
}
body #searchspring-autocomplete_results .ac_term_suggest:hover {
background: #549B17;
}
body #searchspring-autocomplete_results .ac_powered {
  display: none;
}
body #searchspring-autocomplete_results .ac_result_even {
  background: #f6f6f6;
}
body #searchspring-autocomplete_results .ac_term_result {
  padding: 6px;
}
body #searchspring-autocomplete_results .ac_product_result.highlight,
body #searchspring-autocomplete_results .ac_product_result:hover {
  background: #e6e6e6;
}
body #searchspring-autocomplete_results .ac_product_result {
  padding: 15px 6px;
}
body #searchspring-autocomplete_results .ac_product_result .image {
  height: auto;
  width: 60px;
}
body #searchspring-autocomplete_results .ac_product_result .info {
  width: auto;
  margin: 0;
  float: none;
  overflow: hidden;
  padding: 0 0 0 20px;
}
body #searchspring-autocomplete_results .ac_term_result,
body #searchspring-autocomplete_results .ac_product_result .info div {
  font-family: "Open Sans", Arial, Sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #555555;
}
body #searchspring-autocomplete_results .ac_product_result .info .sku {
display: none;
}
body #searchspring-autocomplete_results .ac_product_result .info .price {
  font-style: normal;
  font-weight: bold;
  color: #333333;
}
body #searchspring-autocomplete_results:before,
body #searchspring-autocomplete_results:after {
  width: 0;
  height: 0;
}
body #searchspring-autocomplete_results:before {
  left: 16px;
  right: auto;
  top: -7px;
  background: none;
  border-right: 9px inset transparent;
  border-left: 9px inset transparent;
  border-bottom: 7px solid #d9d9d9;
}
body #searchspring-autocomplete_results:after {
  position: absolute;
  top: -6px;
  left: 18px;
  right: auto;
  margin: 0 auto;
  display: block;
  content: '';
  border-right: 7px inset transparent;
  border-left: 7px inset transparent;
  border-bottom: 6px solid #fff;
}
@media only screen and (max-width: 768px) {
  body #searchspring-autocomplete_results {
      width: auto;
      max-width: 100%;
      margin: auto;
      left: 15px !important;
      right: 15px !important;
  }
  body #searchspring-autocomplete_results:before {
      right: 48px;
  }
  body #searchspring-autocomplete_results:after {
    right: 50px;
  }
  body #searchspring-autocomplete_results .ac_term_result,
  body #searchspring-autocomplete_results .ac_product_result {
      padding: 3px 6px;
  }
  body #searchspring-autocomplete_results .ac_product_result .image {
      width: 50px;
  }
  body #searchspring-autocomplete_results .ac_product_result .image img {
      max-height: 40px;
  }
  body #searchspring-autocomplete_results .ac_title,
  body #searchspring-autocomplete_results .ac_term_suggest {
      padding: 6px 12px;
      font-size: 14px;
      line-height: 16px;
  }
  body #searchspring-autocomplete_results .ac_term_result,
  body #searchspring-autocomplete_results .ac_product_result .info div {
      line-height: 16px;
      font-size: 12px;
  }
}




/*
 * SearchSpring Slideout
 ------------------------
 * barebones stylesheet
 *
 */
body.ss-slideout_body {
  overflow: hidden; }

body .searchspring-overlay {
  height: 0%;
  width: 0%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999999; }

body .searchspring-overlay.ss-slideout_show {
  z-index: 999998;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0; }

body #searchspring-slideout_container {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  transition: left 0.5s;
  height: 100%;
  z-index: 999999;
  width: 90%;
  max-width: 300px;
  padding: 0px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #fff;
  box-shadow: -1px 0px 5px #999; }

body #searchspring-slideout_container.ss-slideout_show {
  display: block;
  left: 0px;
  transition: all 200ms; }


