#page {
	padding: 1px;
}

#cart-top {
	float: right;
}

.logo {
	float: left;
	margin-top: -30px;
}

.img-logo {
	width: 200px;
}
#pav-mainnav {
	margin-left: -27px;
}

.product-block .action > div {
	width: 100px;
}

.action .btn-primary {
	background-color: #589B24;
	border-color: #589B24;
}

.save_alter {
	color: #589B24;
    font-family: "Open Sans Extrabold", sans-serif;
}

#pav-megamenu .navbar-nav > li {
	border-right: 2px solid #e5e5e5;
}

.footer-top {
	padding-top: 30px;
}

.footer-middle {
    padding-top: 10px;
}

.footer-middle .container {
  border-bottom: 2px solid #474747;
}


.panel-title-special {
	margin-bottom: 30px;
}

.footer-header .column {
	text-align: center;
}
.footer-header .desc {
	text-align: center;
}

.footer-header .desc-sm {
    text-align: center;
    font-size: 12px !important;
    font-family: "Open Sans Semibold", sans-serif;
    line-height: 125%;
}
.footer-header .image-wrap {
	width: 140px;
	height: 100px;
	margin: 0 auto;
}
.footer-header .margin_top {
	margin: 40px 0 20px;
}
.footer-header .container {
	border-bottom: 2px solid #474747;
}

.product-block .product-img {
	padding:5%;
}
.img-thumbnail {
	width: 70px;
	height: 70px;
}


/* review order page */
#review_order form {
    margin-bottom: 25px;
}

/* product detail page */
#product-detail {
	padding-top: 30px;
}

/* footer */
.guarantee li {
	width: 125px;
	text-align: center;
    margin: auto;
}
/*.guarantee li:first-child {
	float: left;
}
.guarantee li:last-child {
	float: right;
}*/
#contact-container .text-block {
    margin-top: 10px;
}
#contact-container .address {
    margin-top: 20px;
    width: 250px;
}
#contact-container h4 {
    margin-top: 20px;
}

#contact-container .query-form {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
}
/*start category page*/
.product-list .product-block .product-meta .action .cart{
    margin-right:20px;
}
.product-list .product-block .product-meta .action .add-to-cart{
    color:#fff;
}
.product-list .product-block .product-meta .action .more-info{
    color:#fff;
    background-color: #757575;
}
.product-list .product-block .product-meta .action .wishlist .btn-primary{
    background-color: #757575;
}
.product-list .product-block .product-meta .action {
    border-style:none;
    width:220px;
    background-color: #f6f6f6;
    font-family: "Open Sans Extrabold", sans-serif
}
.product-list .product-block .product-meta .btn {
   padding: 4px 10px;
   font-family: sans-serif;
   text-transform: none;
}
.product-list .product-block .description {
    height:0;
}
.product-list .product-block .name {
    height:45px;
}
.products-block .product-list .price-old {
    display:block;
}
.products-block .product-list .price-new {
    display:block;
}
.products-block .product-list .fa-shopping-cart {
    display:none;
}
.products-block .product-list .fa-heart {
    display:none;
}
.products-block .product-grid .pay_price {
    display:none;
}
.products-block .product-grid .list_price {
    display:none;
}

.products-block .product-grid .add-to-cart {
    display:none;
}
.products-block .product-grid .more-info {
    display:none;
}
.product-list .product-block .action > div:after {
    border:none;
}
.product-list .product-block .action > div {
    float:left;
}

/*end category page*/

/*start footer*/

.footer-fieldset {
  border-radius: 10px !important;
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
  /*line-height: inherit;*/
  color: white;
  border: 2px solid white !important;
}

.footer-legend {
  font-size: 21px;
  color: white;
  border-bottom: 0;
  padding: 5px;
  width: auto;
  font-family: "Open Sans Semibold", sans-serif;
}

.footer-center .desc-sm {
    text-align: center;
    font-size: 12px !important;
    font-family: "Open Sans Semibold", sans-serif;
    line-height: 125%;
    width: 140px;
    height: 75px;
}
.footer-center .desc-about {
    margin-top: 5px;
    font-size: 12px !important;
    font-family: "Open Sans Normal", sans-serif;
    line-height: 125%;
}
.footer-center .image-wrap {
    width: 110px;
    height: 100px;
    margin: 0 auto;
}
.footer-center .img-footer {
    width: 85px;
    height: 85px;
}

.input-newsletter {

    border-top-left:  : 2px !important;
    border-bottom-left: 2px !important;
    position: relative;
    z-index: 2;
    float: left;
    width: 150px;
    margin-bottom: 0;
    height: 24px;
    padding: 5px;
    font-size: 11px;
    color: #323232;
    border: 1px solid white !important;
    background-color: white;
}

input.btn-newsletter {
    
    border-top-right:  : 2px !important;
    border-bottom-right: 2px !important;
    float: left;
    background-color: #549B17;
    color: white;
    height: 24px;
    padding: 0px !important;
    width: 60px;

    font-size: 12px;
    font-family: "Open Sans Semibold", sans-serif;
    border:0;
}

.newsletter-box
{
    background-color: #eaf8fc;
    background-image: linear-gradient(#fff, #d4e8ec);
    border-radius: 35px;    
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;            
    width: 500px;
    height: 35px;
    padding: 10px;
    margin: 100px auto 50px;
    overflow: hidden; /* Clear floats */
}

/*end footer*/

