<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="[:default_url:]/css/style.css">
</head>

<body topmargin="5" leftmargin="5" bgcolor="#FFFFFF">

<table border="0" cellpadding="5" cellspacing="0" width="940px" bgcolor="#FFFFFF" align="center">
	<tr>
		<td>
			<table height="22" border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td align="left"><img border=0 src="[:default_url:]/images/[:logo_file_name:]"></td>
					</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="30px">&nbsp;
		
		</td>
	</tr>
	<tr>
		<td>
			<p>
			Gentile  [:forename:],<br /><br />
			Grazie per aver acquistato su [:site_name:]!<br><br>
			Possiamo confermarti che il pagamento è stato approvato e l’ordine potrà ora essere usato.<br><br>
			Si prega di prendere nota che il numero d'ordine del Suo acquisto online è  <b>[:so_no:]</b>.  Per tua comodità, sarà possibile verificare in ogni momento lo stato del tuo ordine accedendo alla sezione 'My Account' (Il Mio conto), tramite la nostra vetrina virtuale.<br><br>
			Per tua comodità, ti ricordiamo i tuoi dati d'accesso:<br><br>
			[:email:]<br>
			[:password:]<br><br>

			</p>
			<p>
			
			<b>Sommario dell'acquisto:</b><br /><br />
			<b>Numero d'ordine:</b><br />
			[:so_no:]<br /><br />
			<b>Acquistato Data:</b><br />
			[:order_create_date:]<br /><br />
			<b>Indirizzo per la fatturazione:</b><br />
			[:billing_name:]<br />
			[:billing_address:]<br /><br />
			<b>Indirizzo per la spedizione:</b><br />
			[:delivery_name:]<br />
			[:delivery_address:]<br /><br /><br />
			<table width="100%" cellspacing="0" cellpadding="4">
				<tr>
					<td width="40">Qtà</td>
					<td>Prodotto</td>
					<td width="120">Prezzo unitario</td>
					<td width="80">Totale</td>
				</tr>
				[:so_items:]
				<tr>
					<td colspan="2">&nbsp;</td>
					<td><b>Prezzo degli articoli</b></td>
					<td>[:total:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Spedizione</b></td>
					<td>[:delivery_charge:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Valuta</b></td>
					<td>[:currency_id:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Totale complessivo</b></td>
					<td><b>[:amount:]</b></td>
				</tr>
			</table>
			<br>
			<p>L’ordine è stato completato e vi saremmo grati se potrete dedicare un attimo del vostro tempo per rispondere a qualche domanda circa l’esperienza iniziale con noi, al fine di migliorare il servizio offerto per rispondere ancora meglio alle vostre esigenze.</p>
			<p>Tutti i nostri clienti che prenderanno parte a questo questionario potranno vincere interessanti premi nella nostra estrazione mensile.</p>
			<p align="center"><a href="http://vista-survey.com/survey/v2/survey2.dsb?ID=1536253776" target="_blank">Clicca qui per iniziare il sondaggio.</a></p>
			<p>
				Cogliamo nuovamente l'occasione di ringraziarti per aver acquistato su ChatandVision. Abbiamo apprezzato la tua fiducia e non vediamo l'ora di poterti offrire nuovamente il nostro servizio.  Nel caso avessi eventuali domande, non esitare a visitare la nostra pagina "FAQ" o a inviarci una email all'indirizzo <a href="mailto:[:from_email:]">[:from_email:]</a> per ulteriore assistenza.<br /><br />
			</p>
			<p>
			Con i migliori saluti,<br /><br />
			Lucia de Luca<br /><br />
			Il Servizio clienti<br /><br />
			[:site_name:] Ltd.<br />
			"Skype's Global Partner Merchant"<br />
			<a href="www.chatandvision.com" target="_cnv">www.chatandvision.com</a>
			</p>
		</td>
	</tr>
		



</body>
</html>
