<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="[:default_url:]/css/style.css">
</head>

<body topmargin="5" leftmargin="5" bgcolor="#FFFFFF">

<table border="0" cellpadding="5" cellspacing="0" width="940px" bgcolor="#FFFFFF" align="center">
	<tr>
		<td>
			<table height="22" border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td align="left"><img border=0 src="[:default_url:]/images/[:logo_file_name:]"></td>
					</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="30px">&nbsp;
		
		</td>
	</tr>
	<tr>
		<td>
			<p>
			Sehr geehrte/r Herr oder Frau [:forename:],<br /><br />
			Vielen Dank dass Sie bei [:site_name:] eingekauft haben!<br><br>
			Wir bestaetigen hiermit dass wir Ihre Zahlung erhalten haben und Ihre Bestellung nun benutzt werden kann.<br><br>
			Bitte beachten Sie Ihre Bestellnummer ist <b>[:so_no:]</b>. Sie koennen sich via unserer Webseite in Ihr Konto einloggen unter "Mein Account" um den Status Ihrer.<br><br>
			Bitte finden Sie hier Ihre Log-In details:<br><br>
			[:email:]<br>
			[:password:]<br><br>

			</p>
			<p>
			
			<b>Zusammenfassung der Bestellung:</b><br /><br />
			<b>Bestellnummer:</b><br />
			[:so_no:]<br /><br />
			<b>Rechnungsadresse:</b><br />
			[:billing_name:]<br />
			[:billing_address:]<br /><br />
			<b>Lieferadresse:</b><br />
			[:delivery_name:]<br />
			[:delivery_address:]<br /><br /><br />
			<table width="100%" cellspacing="0" cellpadding="4">
				<tr>
					<td width="40">Anzahl</td>
					<td>Produkt</td>
					<td width="120">Einzelpreis</td>
					<td width="80">Gesamtpreis</td>
				</tr>
				[:so_items:]
				<tr>
					<td colspan="2">&nbsp;</td>
					<td><b>Produktpreis</b></td>
					<td>[:total:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Versandkosten</b></td>
					<td>[:delivery_charge:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Waehrung</b></td>
					<td>[:currency_id:]</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td><b>Gesamtpreis</b></td>
					<td><b>[:amount:]</b></td>
				</tr>
			</table>
			<br>
			<p>
				Ihre Bestellung ist nun komplett und wir wuerden uns freuen falls Sie sich einen Moment Zeit nehmen um einige Fragen bezueglich Ihrer ersten Einkaufserfahrung zu beantworten. Dies hilft uns weiter unseren Service zu verbessern.<br /><br />
			</p>
			<p>Alle unsere loyalen Kunden welche an dieser Umfrage teilnehmen koennen tolle Preise in unserer monatlichen Tombola gewinnen.</b></p>
			<p align="center"><a href="http://vista-survey.com/survey/v2/survey2.dsb?ID=1536253776" target="_blank">Klicken Sie hier um die Umfage zu starten.</a></p>
			<p>
				Wir freuen uns auf Ihre Nachricht und bedanken uns erneut fuer Ihren Einkauf. Sollten Sie weitere Hilfe benoetigen, schauen Sie bitte auf unsere F.A.Q. Seite oder kontaktieren Sie uns gerne jederzeit unter <a href="mailto:[:from_email:]">[:from_email:]</a>.<br /><br />
			</p>
			<p>
			Mit freundlichen Gruessen,<br /><br />
			Susanne Bilz<br /><br />
			Kundenbetreuerin<br /><br />
			[:site_name:] Ltd.<br />
			"Skype's Global Partner Merchant"<br />
			<a href="www.chatandvision.com" target="_cnv">www.chatandvision.com</a>

			</p>
		</td>
	</tr>
		



</body>
</html>
