<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Sales Invoice</title>
<style type="text/css">
.pb
{
page-break-after : always  ;
}
body {
margin:0;
}
* {
font-size:8pt;
}
</style>
</head>
<body topmargin="5" leftmargin="5" rightmargin="5" onload="if (parent.frames['printframe']){parent.frames['printframe'].focus();parent.frames['printframe'].print();}else{print();}" style="overflow:none;"><table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody><tr>
			<td colspan="2" align="left">
				<p><img border=0 src="http://[:site_url:]/images/logo/[:logo:]" height="125"></p>
			</td>
		</tr>

		<tr>
			<td colspan="2" align="left">
				<font color="#FF6600"><b><i><p>Grazie per la compera con [:site_url:]</p></i></b></font>
			</td>
		</tr>
<tr>
			<td colspan="2" align="left">
				<b><p style="font-size:18px;">Fattura</p></b>
			</td>
		</tr>

		<tr>
			<td width="50%" valign="top">
				<b>No. Fattura/Ordine:</b>
				<p>[:order_no:]</p>
				<p> </p>
			</td>
			<td width="50%" valign="top">
				<b>Data Ordine:</b>
				<p>[:order_date:]</p>
				<p> </p>
			</td>
		</tr>

                 <tr>
			<td width="50%" valign="top">
				<b>Ditta:</b>
				<p>[:company_name:]</p>
				<p></p>

			</td>

			<td width="50%" valign="top">
				<b>P.IVA / CF:</b>
				<p>[:client_id_no:]</p>
				<p></p>

			</td>
		    </tr>
		<tr>
			<td width="50%" valign="top">
				<b>Spedisci a:</b>
				<p>[:delivery_name:]</p>
				<p>[:delivery_address:]</p>
				<p> </p>
			</td>
			<td width="50%" valign="top">
				<b>Addebita a:</b>
				<p>[:billing_name:]</p>
				<p>[:billing_address:]</p>
				<p></p>
			</td>
		</tr>

		<tr>
			<td width="50%" valign="top">
				<b>Codice Coupon Usato:</b>
				<p>[:promotion_code:]</p>
				<p> </p>
			</td>
			<td width="50%" valign="top">
				<b></b>
				<p></p>
				<p> </p>
			</td>
		</tr>

		<tr>
			<td colspan="2">
				<table border="1" width="630" cellspacing="0" cellpadding="4">
					<tr>
						<td colspan="5" valign=top bgcolor="#FFCC00" bordercolor="#666666" height="10px">
							<b>Dettagli Ordine</b>
						</td>
					</tr>

					<tr>
						<td width="330" colspan="2" valign"top" height="10px" bgcolor="#CCCCCC"><b>Descrizione</b></td>
						<td width="100" valign"top" height="10px" bgcolor="#CCCCCC"><b>Prezzo unitario</b></td>
						<td width="100" valign"top" height="10px" bgcolor="#CCCCCC"><b>Quantità</b></td>
						<td width="100" valign"top" height="10px" bgcolor="#CCCCCC"><b>Totale</b></td>
					</tr>

					[:item_information:]

					<tr>
						<td colspan="2" rowspan="5" valign="top"> </td>
						<td colspan="2" valign="top" bgcolor="#CCCCCC"><b>Costo degli articoli</b></td>
						<td valign="top"><b>[:sum_total:]</b></td>
					</tr>

					<tr>
						<td colspan="2" valign="top" bgcolor="#CCCCCC"><b>Consegna</b></td>
						<td valign="top"><b>[:sid:]</b></td>
					</tr>

					<tr>
						<td colspan="2" valign="top" bgcolor="#CCCCCC"><b>Costi di Elaborazione</b></td>
						<td valign="top"><b>[:processing_fee:]</b></td>
					</tr>

					<tr>
						<td colspan="2" valign="top" bgcolor="#CCCCCC"><b>Valuta</b></td>
						<td valign="top"><b>[:currency:]</b></td>
					</tr>

					<tr>
						<td colspan="2" valign="top" bgcolor="#CCCCCC"><b>Totale generale</b></td>
						<td valign="top"><b>[:grand_total:]</b></td>
					</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td colspan="2">
			<p> </p>

			<font size="-1">
				<p>Se ti servono istruzioni per la restituzione,per cancellare il tuo ordine o per qualsiasi richiesta ,contattaci tramite il nostro modulo on-line <a href="http://[:site_url:]/contact" target="_blank">qui</a> e ti risponderemo il prima possibile.</p>
			</font>
		</td>
	</tr>

</tbody></table>
<p class="pb"></p>
</body></html>