<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Sales Invoice</title>
<style type="text/css">
.pb
{
page-break-after : always  ;
}
body {
margin:0;
}
* {
font-size:8pt;
}
</style>
</head>
<body topmargin="5" leftmargin="5" rightmargin="5" onload="if (parent.frames['printframe']){parent.frames['printframe'].focus();parent.frames['printframe'].print();}else{print();}" style="overflow:none;"><table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody><tr>
			<td colspan="2" align="left">
				<p><img border=0 src="http://[:site_url:]/images/logo/[:logo:]" height="125"></p>
			</td>
		</tr>

		<tr>
			<td colspan="2" align="left">
				<font color="#FF6600"><b><i><p>Thank you for shopping with [:site_url:]</p></i></b></font>
			</td>
		</tr>

<tr>
			<td colspan="2" align="left">
				<b><p style="font-size:18px;">Factuur</p></b>
			</td>
		</tr>

		<tr>
			<td width="50%" valign="top">
				<b>Bestelnummer:</b>
				<p>[:order_no:]</p>
				<p> </p>
			</td>
			<td width="50%" valign="top">
				<b>Besteldatum:</b>
				<p>[:order_date:]</p>
				<p> </p>
			</td>
		</tr>

		<tr>
			<td width="50%" valign="top">
				<b></b>

			</td>
		</tr>

		<tr>
			<td width="50%" valign="top">
				<b>Leveringsadres:</b>
				<p>[:delivery_name:]</p>
				<p> </p>
				<p>[:delivery_address:]</p>
				<p> </p>
			</td>
			<td width="50%" valign="top">
				<b>Factuuradres:</b>
				<p>[:billing_name:]</p>
				<p> </p>
				<p>[:billing_address:]</p>
				<p> </p>
			</td>
		</tr>

		<tr>
			<td width="50%" valign="top">
				<b>Promotiecode:</b>
				<p>[:promotion_code:]</p>
				<p> </p>
			</td>
			<td width="50%" valign="top">
				<b></b>
				<p></p>
				<p> </p>
			</td>
		</tr>

		<tr>
			<td colspan="2">
				<table border="1" width="630" cellspacing="0" cellpadding="4">
					<tr>
						<td colspan="5" valign=top bgcolor="#FFCC00" bordercolor="#666666" height="10px">
							<b>Bestelgegevens</b>
						</td>
					</tr>

					<tr>
						<td width="330" colspan="2" valign"top" height="10px" bgcolor="#CCCCCC"><b>Omschrijving</b></td>
						<td width="100" valign"top" height="10px" bgcolor="#CCCCCC"><b>Stukprijs</b></td>
						<td width="100" valign"top" height="10px" bgcolor="#CCCCCC"><b>Hoeveelheid</b></td>
						<td width="100" valign"top" height="10px" bgcolor="#CCCCCC"><b>Totaal</b></td>
					</tr>

					[:item_information:]

					<tr>
						<td colspan="2" rowspan="5" valign="top"> </td>
						<td colspan="2" valign="top" bgcolor="#CCCCCC"><b>Subtotaal</b></td>
						<td valign="top"><b>[:sum_total:]</b></td>
					</tr>

					<tr>
						<td colspan="2" valign="top" bgcolor="#CCCCCC"><b>Bezorgkosten</b></td>
						<td valign="top"><b>[:sid:]</b></td>
					</tr>

					<tr>
						<td colspan="2" valign="top" bgcolor="#CCCCCC"><b>Verwerkingskosten </b></td>
						<td valign="top"><b>[:processing_fee:]</b></td>
					</tr>

					<tr>
						<td colspan="2" valign="top" bgcolor="#CCCCCC"><b>Valuta</b></td>
						<td valign="top"><b>[:currency:]</b></td>
					</tr>

					<tr>
						<td colspan="2" valign="top" bgcolor="#CCCCCC"><b>Totaal</b></td>
						<td valign="top"><b>[:grand_total:]</b></td>
					</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td colspan="2">
			<p> </p>

			<font size="-1">
				<p>Neem <a href="http://[:site_url:]/display/view/contact" target="_blank">hier</a> contact met ons op voor instructies voor retourneren via ons webformulier en wij zullen u graag verder helpen. </p>
			</font>
		</td>
	</tr>

</tbody></table>
<p class="pb"></p>
</body></html>