<html>
<head>
<style>
<!--
A:link {text-decoration: none; color: #FF6600}
A:visited {text-decoration: none; color: #FF6600}
A:active {text-decoration: none; color: #FF6600}
A:hover {text-decoration: none; color: #000000}
b {font-weight: bold}\nbody,p,div,span,th,td{font-family:arial,sans-serif;font-size:12px;color:#000000}
-->
</style>
</head>
<body style="width:800px;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<col width="50%"><col width="50%">
<tr>
<td align="left"><a href="http://www.amazon.co.uk/shops/purelygadgets" target="_blank"><img border=0 src='http://www.purelygadgets.co.uk/images/mainlogo3.gif'></a><br><h3>Amazon UK Pro Merchant</h3></td>
<td align="right" valign="top"><a href="http://www.purelygadgets.co.uk/myaccount" target="_blank"><img border="0" src="http://www.purelygadgets.co.uk/images/header_tm_myacct.jpg" height="22"></a><a href="http://www.purelygadgets.co.uk/display/view?page=contact" target="_blank"><img border="0" src="http://www.purelygadgets.co.uk/images/header_tm_contact.jpg" height="22"></a><a href="http://www.purelygadgets.co.uk/display/view?page=help" target="_blank"><img border="0" src="http://www.purelygadgets.co.uk/images/header_tm_help.jpg" height="22"></a>
</td>
</tr>
</table>
<br><br>
Dear [:forename:],<br><br>
Greetings from PurelyGadgets.<br><br>
We would like to confirm that your order has been successfully cancelled. A final email will be sent to you by Amazon shortly confirming this. <br><br>
In the meantime, please do not hesitate to contact us again should there be any further assistance required.<br><br>
Thank you and have a nice day ahead.<br><br><br>
Best Regards,<br><br>
Mandy Linsworth<br>
Customer Service Executive<br>
<a href="http://www.amazon.co.uk/shops/purelygadgets" target="_blank">http://www.amazon.co.uk/shops/purelygadgets</a>
</body>
</html>