<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body topmargin="0" leftmargin="0">
<style>
<!--
A:link {text-decoration: none; color: #FF6600}
A:visited {text-decoration: none; color: #FF6600}
A:active {text-decoration: none; color: #FF6600}
A:hover {text-decoration: none; color: #000000}
b {font-weight: bold}\nbody,p,div,span,th,td{font-family:arial,sans-serif;font-size:12px;color:#000000}
-->
</style>
<div align='center'><img border=0 src='http://www.purelygadgets.co.uk/images/mainlogo3.gif'></div><br><br>Cher/Chère [:buyername:],<br><br>
Merci d'avoir placé une commande avec Purelygadgets.co.uk!<br><br>
Nous avons surveillé la progression de votre commande ([:amazon_order_no:]et nous sommes heureux de vous informer que le colis a été expédié aujourd'hui. Vous devriez le recevoir dans les plus brefs délais.<br><br>
Nous vous serions reconnaissants de nous contacter une fois le colis reçu à <a href="mailto:sandrine@purelygadgets.co.uk">sandrine@purelygadgets.co.uk</a>.<br><br>
S’il vous plait n’hésitez pas à nous contacter si vous avez besoin davantage d’assistance ou d’information, nous serons contents de vous assister.<br><br>
Sandrine Legrand<br>
<i>Représentant de service clientèle
<br>PurelyGadgets.co.uk
<br><a href='http://www.purelygadgets.co.uk'>www.purelygadgets.co.uk</a></i>
<br>Co: 05169769
<br>VAT: 843 6590 07<br><br>
</body>
</html>